<div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
    
            <div class="breadc"> Profile</div>    
         
         
        </div>
        <div class="card-body">
      

              <div class="row">
              
        
                        <form style="width:100%">
                            <div class="col-md-4 float-left">
                                <img style="height:360px;width:300px;margin-top:30px;" id="ShowImage" class=""[src]="url ? url : 'assets/img/avatars/default.png'" />

                            </div>
                            <div class="col-md-8 float-left">
                            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
                            <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div>
                            <br>
                            <div class="form-group col-lg-6">
                                <label for="usr">First Name:</label>
                                <input type="text" [formControl]="firstname" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.NAME_LENGTH" class="form-control" placeholder="First Name" autocomplete="username" required>
                                <span class="error text-danger">{{_util.errorMessage(firstname,FORM_ERROR?.firstname)}}</span>
                                <br/>
                              </div>
                              <div class="form-group col-lg-6">
                                  <label for="usr">Last Name:</label>
                                  <input type="text" [formControl]="lastname" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.NAME_LENGTH" class="form-control" placeholder="Last Name" autocomplete="username" required>
                                  <span class="error text-danger">{{_util.errorMessage(lastname,FORM_ERROR?.lastname)}}</span>
                                  <br/>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="usr">Email</label>
                                    <input type="email" [formControl]="email" readonly=true [maxlength]="CONFIG?.EMAIL_LENGTH" class="form-control" placeholder="Email" autocomplete="email" required>
                                    <span class="error text-danger">{{_util.errorMessage(email,FORM_ERROR?.email)}}</span>
                                    <br/>
                                  </div>
                                  <div class="form-group col-lg-6">
                                      <label for="usr">Upload Image</label>

                                      <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Choose File</div>
                                          <div class="file-select-name" id="noFile">{{choosefile}}</div> 
                                          <input type="file" name="chooseFile" id="chooseFile" accept="image/*" (change)="onSelectFile($event)">
                                        </div>
                                      </div>
                                   
                                       
                                      <br/>
                                    </div>
                          

                      
                          <button type="button" style="margin-left:17px;" class="btn btn-primary"  (click)="submit()"> Save</button>
                        </div>
                        </form>
                      
                      </div>
        </div></div>
        <div class="card">
            <div class="card-header">
        
                <div class="breadc"> Change Password</div>    
             
             
            </div>
        <div class="card-body">
      
                      <div class="col-sm-12 col-lg-12">
           

                          <div class="row">
                              <div class="col-md-12 mx-auto">
                    
                                  <form style="width:100%">
                                        <div class="alert alert-danger" *ngIf="errorMessage1" role="alert">{{errorMessage1}}</div>
                                        <div class="alert alert-success" *ngIf="successMessage1" role="alert">{{successMessage1}}</div>
                                        <br>
                                        <div class="form-group col-lg-4 float-left">
                                            <label for="usr">Current Password:</label>
                                            <input [type]="showOld ? 'text' : 'password'" [maxlength]="CONFIG?.PASSWORD_MAX" [formControl]="oldpassword" [maxlength]="CONFIG?.NAME_LENGTH"  class="form-control" placeholder="Enter current password" autocomplete="new-password" required>
                                            <span toggle="#password-field" (click)="passwordHideShowOld(inputPassword)" [class]="showOld ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                                            ></span>  
                                            <span class="error text-danger">{{_util.errorMessage(oldpassword,FORM_ERROR1?.oldpassword)}}</span>
                                          </div>
                
                                          <div class="form-group col-lg-4 float-left">
                                              <label for="usr">New Password:</label>
                                        <input [type]="showNew ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="newpassword"  placeholder="Enter new password" autocomplete="new-password" required>
                                        <span toggle="#password-field" (click)="passwordHideShowNew(inputPassword)" [class]="showNew ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                                        ></span>
                                       <span class="error text-danger">{{_util.errorMessage(newpassword,FORM_ERROR1?.newpassword)}}</span>
                                      </div>
                                        <div class="form-group col-lg-4 float-left">
                                            <label for="usr">Confirm New Password:</label>
                                        <input [type]="showConfirm ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="confirmpassword"  placeholder="Confirm new password" autocomplete="new-password" required>
                                        <span toggle="#password-field" (click)="passwordHideShowConfirm(inputPassword)" [class]="showConfirm ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                                        ></span>  
                                     
                                      <span class="error text-danger" *ngIf="!loginForm1.hasError('notSame')">{{_util.errorMessage(confirmpassword,FORM_ERROR1?.confirmpassword)}}</span>
                                      <span class="error text-danger" *ngIf="loginForm1.hasError('notSame')">New password and confirm new password doesn't match. Try Again</span>
                                    </div>
                        <br> <div class="form-group col-lg-12 ">
                                      <button  type="button" class="btn btn-primary float-right" (click)="changePassword()">Save</button>
                                    </div>
                                    </form>
                                  </div>
                                  </div>
                                </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
   