<div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
    
      <div class="breadc">Change Password</div>    
         
        </div>
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
           

              <div class="row">
                  <div class="col-md-12 mx-auto">
        
                      <form style="width:100%">
                            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
                            <br>
                            <div class="form-group col-lg-6 mx-auto">
                                <label for="usr">Current Password:</label>
                                <input [type]="showOld ? 'text' : 'password'" [maxlength]="CONFIG?.PASSWORD_MAX" [formControl]="oldpassword" [maxlength]="CONFIG?.NAME_LENGTH"  class="form-control" placeholder="Enter current password" autocomplete="new-password" required>
                                <span toggle="#password-field" (click)="passwordHideShowOld(inputPassword)" [class]="showOld ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                                ></span>  
                                <span class="error text-danger">{{_util.errorMessage(oldpassword,FORM_ERROR?.oldpassword)}}</span>
                              </div>
    
                              <div class="form-group col-lg-6 mx-auto">
                                  <label for="usr">New Password:</label>
                            <input [type]="showNew ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="newpassword"  placeholder="Enter new password" autocomplete="new-password" required>
                            <span toggle="#password-field" (click)="passwordHideShowNew(inputPassword)" [class]="showNew ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                            ></span>
                           <span class="error text-danger">{{_util.errorMessage(newpassword,FORM_ERROR?.newpassword)}}</span>
                          </div>
                            <div class="form-group col-lg-6 mx-auto">
                                <label for="usr">Confirm New Password:</label>
                            <input [type]="showConfirm ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="confirmpassword"  placeholder="Confirm new password" autocomplete="new-password" required>
                            <span toggle="#password-field" (click)="passwordHideShowConfirm(inputPassword)" [class]="showConfirm ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                            ></span>  
                         
                          <span class="error text-danger" *ngIf="!loginForm.hasError('notSame')">{{_util.errorMessage(confirmpassword,FORM_ERROR?.confirmpassword)}}</span>
                          <span class="error text-danger" *ngIf="loginForm.hasError('notSame')">New password and confirm new password doesn't match. Try Again</span>
                        </div>
            <br> <div class="form-group col-lg-6 mx-auto">
                          <button style="margin-left:5px;"  type="button" class="btn btn-primary" (click)="submit()">Save</button>
                        </div>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
   