<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <b style="margin-left: 14px;font-size:18px;">Change Password</b>
         
        </div>
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
           

              <div class="row">
                  <div class="col-md-12 mx-auto">
        
                        <form>
                            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
                            <br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input [type]="showOld ? 'text' : 'password'" [maxlength]="CONFIG?.PASSWORD_MAX" [formControl]="oldpassword" [maxlength]="CONFIG?.NAME_LENGTH"  class="form-control" placeholder="Enter current password" autocomplete="new-password" required>
                                <span toggle="#password-field" (click)="passwordHideShowOld(inputPassword)" [class]="showOld ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                                ></span>  
                                
                              </div>
                              <span class="error text-danger">{{_util.errorMessage(oldpassword,FORM_ERROR?.oldpassword)}}</span>
                              <br/><br/>
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input [type]="showNew ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="newpassword"  placeholder="Enter new password" autocomplete="new-password" required>
                            <span toggle="#password-field" (click)="passwordHideShowNew(inputPassword)" [class]="showNew ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                            ></span>
                            </div> <span class="error text-danger">{{_util.errorMessage(newpassword,FORM_ERROR?.newpassword)}}</span>
                            <br/><br/>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input [type]="showConfirm ? 'text' : 'password'" [minlength]="CONFIG?.PASSWORD_MIN" [maxlength]="CONFIG?.PASSWORD_MAX" class="form-control" [formControl]="confirmpassword"  placeholder="Confirm new password" autocomplete="new-password" required>
                            <span toggle="#password-field" (click)="passwordHideShowConfirm(inputPassword)" [class]="showConfirm ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
                            ></span>  
                          </div>
                          <span class="error text-danger" *ngIf="!loginForm.hasError('notSame')">{{_util.errorMessage(confirmpassword,FORM_ERROR?.confirmpassword)}}</span>
                          <span class="error text-danger" *ngIf="loginForm.hasError('notSame')">Password and confirm password does not match</span>
                          <br/><br/>
                          <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
   