.field-icon {
  float: right;
  margin-left: 6px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  margin-right: 9px;
  }
  
  .container{
    padding-top:50px;
    margin: auto;
  }
  .breadc{
    margin-left:25px;
    float:left;
    font-weight: 500;
    font-size:18px;
  }