<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          Add
          <small>Brands</small>
        </div>
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
           

              <div class="row">
                  <div class="col-md-12 mx-auto">
        
                        <form>
                     
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" autocomplete="username" required>
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
                          </div>
                         
                          <button type="button" class="btn btn-success">Submit</button>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
   