<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          Add
          <small>Brand</small>
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label for="inputEmail4"><b>Name(English)</b></label>
                <input type="text" [formControl]="name" class="form-control" id="inputEmail4" placeholder="Name">

                <br/>
                <span class="error text-danger">{{_util.errorMessage(name,FORM_ERROR?.name)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4"><b>Description(English)</b></label>
                <textarea type="text" [formControl]="descriptionen" class="form-control" id="inputPassword4"
                  placeholder="Description"></textarea>
                  <br/>
                  <span class="error text-danger">{{_util.errorMessage(descriptionen,FORM_ERROR?.descriptionen)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                  <label for="inputEmail4"><b>Name(Arabic)</b></label>
                  <input type="text" [formControl]="namear" class="form-control" id="inputEmail4"  style="direction:RTL;" onkeyup="rtl(this);" placeholder="اسم">
                  <br/>
                <span class="error text-danger">{{_util.errorMessage(namear,FORM_ERROR?.namear)}}</span>
              </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4"><b>Description(Arabic)</b></label>
                  <textarea type="text" [formControl]="descriptionar" class="form-control"   style="direction:RTL;" onkeyup="rtl(this);" id="inputPassword4"
                    placeholder="وصف"></textarea>
                    <br/> 
              <span class="error text-danger">{{_util.errorMessage(descriptionar,FORM_ERROR?.descriptionar)}}</span>
            </div>
              <div class="form-group col-md-12">
                <label for="exampleFormControlFile1"><b>Brand Image</b></label>
                <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" id="exampleFormControlFile1">
                <br/>
                <img [src]="url" />
              </div>
              
                
              <div class="form-group col-md-12">
                <label for="inputState"><b>Status</b></label>
                <select id="inputState" [formControl]="statusKey" class="form-control">
                  <option value="">Please Select</option>
                  <option value="active">Unblock</option>
                  <option value="inactive">Block</option>
                </select>
                <br/>
              <span class="error text-danger">{{_util.errorMessage(statusKey,FORM_ERROR?.statusKey)}}</span>
            </div>
            </div>

              <br>
              <button  *ngIf="this.id==null"  type="button" class="btn btn-success" (click)="submit()">Save</button>
              <button *ngIf="this.id" type="button" class="btn btn-success" (click)="update()">Save</button>


            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>