<div class="animated fadeIn" style="margin-top:30px;" >
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">

          <div *ngIf="this.id==null" class="breadc"><a class="active" [routerLink]="['/theme/simplebanners']">
              Banners</a> / <a class="breada">Add Banner</a></div>
          <div *ngIf="this.id" class="breadc"> <a class="active" [routerLink]="['/theme/simplebanners']"> Banners</a> /
            <a class="breada">Edit Banner</a></div>
        </div>
        <div class="card-body">

            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
      
          <form [formGroup]="bannerForm" >
            <div class="row ">

              <div class="form-group col-md-4">
                  <label for="inputEmail4"><b>Title <span class="star">*</span></b></label> <br />
                <input type="text" class="form-control"  [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.TITLE_LENGTH"
                  placeholder="Enter banner title" [formControl]="title">
                <span class="error text-danger">{{_util.errorMessage(title,FORM_ERROR?.title)}}</span>
              </div>
             
              <div class="col-md-2 float-left">
                  <label for="inputEmail4"><b>Category <span class="star">*</span></b></label> <br />
                  <select class="form-control" [formControl]="category" (change)="getSubcategory()">
                      <option value="">Select category</option>
                    <option *ngFor="let cat of categoryList" value="{{cat.id}}"> {{cat.name}} </option>
  
  
                  </select>
                  <span class="error text-danger"> {{_util.errorMessage(category,FORM_ERROR?.category)}}</span>
  
                </div>
                <div class="col-md-2 float-left">
                    <label for="inputEmail4"><b>Sub-Category <span class="star">*</span></b></label> <br />
                  <select class="form-control" [formControl]="sub_category" (change)=" getChildcategory()">
                      <option value=""> Select Sub-category</option>
                    <option *ngFor="let sab of subCategoryList" value="{{sab.id}}">{{sab.name}}</option>
  
  
                  </select>
                  <span class="error text-danger"> {{_util.errorMessage(sub_category,FORM_ERROR?.sub_category)}}</span>
  
  
  
                </div>

                <div class="col-md-2 float-left">
                  <label for="inputEmail4"><b>Child-Category </b></label> <br />
                <select class="form-control" [formControl]="child_category">
                    <option value=""> Select Child-category</option>
                  <option *ngFor="let sab of childCategoryList" value="{{sab.id}}">{{sab.name}}</option>


                </select>
                <span class="error text-danger"> {{_util.errorMessage(child_category,FORM_ERROR?.child_category)}}</span>



              </div>
                <div class="form-group col-md-2" >
                    <label for="inputEmail4"><b>Status <span class="star">*</span></b></label> <br />
                    <select id="inputState" [formControl]="status" class="form-control">
                        <option value=""> Select status</option>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
 
                  <span class="error text-danger">{{_util.errorMessage(status,FORM_ERROR?.status)}}</span>
                </div>
                <div class="form-group col-md-2 ">
                    <label for="inputEmail4"><b>Display Order <span class="star">*</span></b></label> <br />
                  <select class="form-control" [formControl]="display_order">
                      <option value="">Select display order</option>
                    <option *ngFor="let order of displayOrderList " value="{{order}}">{{order}}</option>
                    <!-- <option *ngIf="displayOrderList==null">no order list</option> -->
                   
                  </select>
                  <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <label for="inputEmail4"><b>Banner Image <span class="star">*</span> </b></label> <br />

                  <div class="file-upload">
                    <div class="file-select">
                      <div class="file-select-button" id="fileName">Choose File</div>
                      <div class="file-select-name" id="noFile">{{choosefile}}</div>
                      <input type="file" name="chooseFile" id="chooseFile" accept="image/*"
                        (change)="onSelectFile($event)">
                      
                    </div>
                  </div>
                  <span class="error text-danger" *ngIf="isImageError">{{imageErrorMessage.IMAGE_REQUIRED}}</span>
                  <br />
                </div>
              </div>
  



            <div class="row">
              <div class="col-12">
                <img style="height:100px;" [src]="url ? url : 'assets/img/avatars/no.png'" />
              </div>
            </div>
            <br>



            <button *ngIf="this.id==null" type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            <button type="button" *ngIf="this.id!=null" class="btn btn-primary" (click)="update()">Save</button>


          </form>


        </div>
      </div>

    </div>
  </div>


</div>