<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div class="row ">
                <div class="breadc col-md-6 float-left"><a class="active" [routerLink]="['/theme/categories']" >Categories</a> / <a class="breada">Sub-Categories</a> / <a class="breada">{{data.name}}</a></div>    
                <div class="col-md-6 float-left"> 
                    <a  [routerLink]="['/theme/categories/subcategories/add-subcategory',{parent_id:this.data.id}]"> <button type="button"
                      style="margin:0px 18px -2px 0px" class="btn btn-primary float-right ml-1">Add
                        Sub-Category</button></a>
                  </div>
                 </div>
         
        </div>
        <div class="card-header">
         
           
          <div class="col-sm-12 col-lg-12" style="margin-left: -17px;">
            <div class="col-md-4 float-left">
              <input type="text" [formControl]="name" class="form-control" id="inputEmail4"
                placeholder="Search by Sub-Category Name">
            </div>


            <div class="col-md-8 float-left"  style="margin:0px -14px 10px 0px">

              <a> <button type="button" (click)="reset()" class="btn btn-primary float-right ml-1" style="margin-right: -29px;">Reset</button></a>
              <a> <button type="button" (click)="filter()" class="btn btn-primary float-right ml-1">Filter</button></a>


            </div>
          </div>
        </div>
        <div class="card-body">
         
            <div class="col-sm-1 col-lg-1 float-left"> 
                <select class="form-control" (change)="filterSelected($event.target.value)">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            
        </div>
       
          
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
            <div class="card text-white ">
              <div class="pb-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">S.No.</th>
                 
                        <th scope="col">Name(En)</th>
                        <th scope="col">Name(Ar)</th>
                        <th scope="col" >Description(En)</th>
                        <th scope="col">Description(Ar)</th>
                      <th scope="col" style="text-align: center">No. of child-categories</th>
                      <th scope="col">Status</th>
                      <th scope="col">Image</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="collection.length>0">
                      <tr *ngFor="let i of collection  | paginate: { id: 'listing_pagination',
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: totalRec }; let ie = index">
                        <td>
                            {{ ((limit * (page - 1)) + ie+1) }}
  
                        </td>
                       
                        <td scope="row" style=" text-transform: capitalize;">{{i.name}}</td>
                        <td scope="row" >{{i.name_ar}}
                      </td>
                      <td [title]="i.description"> {{this.add3Dots(i.description,20)}}</td>
                      <td [title]="i.description_ar" > {{this.add3Dots(i.description_ar,20)}}
                      </td>
                        <td style="text-align:center;">{{i.totalCount}}
                        </td>
                        <td  *ngIf="i.status=='Active'" >Active
                    </td>
                    <td  *ngIf="i.status=='Inactive'" >Inactive
                      </td>
                      <td *ngIf="i.category_image"><img (click)="openVerticallyCentered(poupimage,i)" style="height: 60px;width:60px;" class=""
                        [src]="i.category_image ? i.category_image : 'assets/img/avatars/avtar.svg'" /></td>
                        <td *ngIf="i.category_image==null"><img style="height: 60px;width:60px;" class=""
                          [src]="i.category_image ? i.category_image : 'assets/img/avatars/avtar.svg'" /></td>
                    
                        <td>
                        
                              <a [routerLink]="['/theme/categories/subcategories/childcategories',{id :i?.id}]"> <i style="font-size:24px"
                                class="fa fa-eye"></i></a>&nbsp;  <a [routerLink]="['/theme/categories/subcategories/add-subcategory',{id :i?.id,parent_id:this.data.id}]"> <i style="font-size:24px"
                                  class="fa fa-edit"></i></a>&nbsp;
                          <a (click)="openVerticallyCentered(poup2,i)" *ngIf="i.status=='Active'"> <i
                              style="font-size:24px" class="fa fa-ban"></i></a>&nbsp;
                          <a (click)="openVerticallyCentered(poup1,i)" *ngIf="i.status=='Inactive'"> <i
                              style="font-size:24px;color:red;" class="fa fa-ban"></i></a>&nbsp;
                          <a (click)="openVerticallyCentered(poup,i)"> <i style="font-size:24px"
                              class="fa fa-trash-o"></i></a>
  
                        </td>
                      </tr>
  
                    </tbody>
                  <tbody *ngIf="collection.length==0">
                    <tr class="text-center">
                      <td colspan="9">No records found</td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="collection.length>0" id="listing_pagination" maxSize="5"
                  directionLinks="true" (click)="onScroll()" (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #poupimage let-modal>
  <!----- Header  ------>
  <section >
  
  
    <img class="modal-content" id="img01" [src]=url  style="width:100%;height:auto">
  </section>
</ng-template>
<ng-template #poup let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Delete Category</h5>
    <div class="">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Are you sure you want to delete this category ? </p>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class=" frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
          <button type="button" class="ml-3 btn bg-dark  white" (click)="yes()">Yes</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #poup1 let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Active Category</h5>
    <div class="">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Are you sure you want to active this category ? </p>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class=" frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
          <button type="button" class="ml-3 btn bg-dark  white" (click)="yesStatus()">Yes</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #poup2 let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Inactive Category</h5>
    <div class="">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Are you sure you want to inactive this category ? </p>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class=" frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
          <button type="button" class="ml-3 btn bg-dark  white" (click)="yesStatus()">Yes</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>