<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div  class="breadc"><a class="active" [routerLink]="['/theme/discount']"> Discount</a> / <a class="breada">Detail Discount</a></div> 
           
        </div>
        <div class="card-body">
            <div class="row">

                      <div class="row">
                        <div class="col-md-6">
                         <label class="float-left"> <b > Discount Name : </b></label>
                          <p>{{data.product_name_en}}</p>
                        </div>
                        <div class="col-md-6">
                           <label class="float-left"> <b >Discount Description : </b></label>
                            <p>{{data.product_description_en}}</p>
                          </div>
                          <div class="col-md-6">
                              <label class="float-left"> <b > Promo Code: </b></label>
                               <p>{{data.product_name_ar}}</p>
                             </div>
  
                          <div class="col-md-6">
                              <label class="float-left"> <b > Promo Value: </b></label>
                               <p>{{data.product_name_ar}}</p>
                             </div>
                             <div class="col-md-6">
                                <label class="float-left"> <b >Promo Type : </b></label>
                                 <p>{{data.product_description_ar}}</p>
                               </div>
                     
         
       
                          <div class="col-md-6">
                         <label class="float-left"> <b >Min. Order Value : </b></label>
                          <p>{{data.brand_name}}</p>
                        </div>
                        <div class="col-md-6">
                           <label class="float-left"> <b >Added date : </b></label>
                            <p>{{data.category_name}}</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Valid till : </b></label>
                              <p>{{data.sub_category_name}}</p>
                            </div>
                            <div class="col-md-6">
                               <label class="float-left"> <b >User Used : </b></label>
                                <p>{{data.child_category_name}}</p>
                              </div>
                             
                            </div>
                          </div></div>
                        </div>
                        </div>
                        </div>
                     