<div class="animated fadeIn" *ngIf="showPage">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            Add 
            <small>Banner</small>
          </div>
          <div class="card-body">
  
  
        
              <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
                  <div class="row ">
                     
                <div class="form-group col-md-6">
                  <b for="inputEmail4">Banner Title</b> <br/>
                <input type="text" class="form-control"  (keypress)="namePress($event)" placeholder="Enter title here.... "  [formControl]="title">  
                <span class="error text-danger">{{_util.errorMessage(title,FORM_ERROR?.title)}}</span>             
                </div>
                <div class="form-group col-md-6 " >
                  <b>Minimum Value:</b>
                  <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Enter minimum value here...." [formControl]="minimum_value">
                  <span class="error text-danger">{{_util.errorMessage(minimum_value,FORM_ERROR?.minimum_value)}}</span>
                </div>
                  </div>
                   
                
                  <div class="row">
                    <div class="col-md-4 float-left">
                        <b>Available On:</b>
                        <select  class="form-control"  [formControl]="available_on"  (change)="changeProduct()" >
                          <option value="product">Product</option>
                          <option value="brand">Brand</option>

                        </select>
                        <span class="error text-danger"> {{_util.errorMessage(available_on,FORM_ERROR?.available_on)}}</span>
                    </div>
                    <div class="col-md-4 float-left">
                        <b>Discount Type</b>
                        <select  class="form-control" placeholder=""  [formControl]="discount_type"  (change)="changeDiscountType()">
                          <option value="flat">Flat </option>
                          <option value="percentage">% of Off</option>
                         </select>
                         <span class="error text-danger"> {{_util.errorMessage(discount_type,FORM_ERROR?.discount_type)}}</span>
                    </div>


                    <div class="col-md-4 ">
                        <b>Discount Value</b>
                        <div class="form-group ">
                        
                            <input type="text" class="form-control"  (keypress)="keyPress($event)" placeholder="{{discountType}}" [formControl]="discount_value">
                            <span class="error text-danger">  {{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
                        </div>
                    
                    </div>
                   
             </div>

             <div class="row" *ngIf="isBrand">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownForm1"  type="button" ngbDropdownToggle>Select Brands</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                
                    
                      <div class="row" *ngFor="let brand of brandArray;let i = index">
                        <div class="col-2 ">
                          <input type="checkbox" class="mr-left" (change)="getSelectedValue()" [formControl]="brand"  id="inlineCheckbox{{i}}" >
                        </div>
                        <div class="col-8">
                          <label for="inlineCheckbox{{i}}">{{brands[i].name}}</label>
                        </div>
                        <hr>
                      </div>
                    <div class="dropdown-divider"></div>
              
                    <button  type="button" class="my-button" ngbDropdownItem>Done.</button>
                  
                  </div>
                </div>
              </div>
            </div>
            
                

              <div class="row" *ngIf="isProduct">
                <div class="col-md-4 float-left">
                    <b>Select Category</b>
                    <select  class="form-control"   [formControl]="category">
                      <option value="ss">Select Category</option>
                      <option value="cat1">cat1</option>
                      <option value="cat2">cat2</option>

                    </select>
                    <span class="error text-danger"> {{_util.errorMessage(category,FORM_ERROR?.category)}}</span>

                </div>
                <div class="col-md-4 float-left">
                    <b>Select Sub Category</b>
                    <select  class="form-control"   [formControl]="sub_category" >
                      <option value="ss">sub cat1</option>
                      <option value="Active">sub cat2</option>
                      
                    </select>
                    <span class="error text-danger">   {{_util.errorMessage(sub_category,FORM_ERROR?.sub_category)}}</span>
                  
                </div>


              
                <div class="col-md-4 float-left">
                    <b>Select Child</b>
                    <select  class="form-control"   [formControl]="child_category">
                      <option value="">child1</option>
                      <option value="Active">child2</option>
                      <option value="Inactive">child3</option>
      
                    </select>
                    <span class="error text-danger">{{_util.errorMessage(child_category,FORM_ERROR?.child_category)}}</span>
                </div>
          
              
           
          

         
          </div>

          <div class="row">
            <div class="col-12">
            <label for="exampleFormControlFile1"><b>Banner Image</b></label>
            <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" id="exampleFormControlFile1">
            <br/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
            <img style="height:100px;width:100px;" [src]="url ? url : 'assets/img/avatars/avtar.svg'" />
          </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-sm-3 float-left"> 
                <select class="form-control">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
          <div class="col-md-4 float-left ">               
            <input type="text" ngxDaterangepickerMd  class="form-control" (choosedDate)="choosedDate($event)"  [formControl]="date"   [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
        
              placeholder="Select Range"  />
          <span class="error text-danger">{{_util.errorMessage(date,FORM_ERROR?.date)}}</span>
          </div>

      
    
      <div class="col-sm-12 col-lg-12 mr-top">
        <div class="card text-white ">
          <div class="card-body pb-0 ">
            <table class="table table-striped table-response">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Brand</th>
         
                 
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <td>1</td>
                <td>263636</td>
                <td>ABc</td>
                <td>xyz</td>
                <td><input type="checkbox"></td>
              </tbody>
              </table>
              
            </div>
          </div>
        

      </div>

          </div>

              <button   *ngIf="this.id==null" type="submit"  class="btn btn-success" >Save.</button>
              <button type="button" *ngIf="this.id!=null"  class="btn btn-success" >Save.</button>
             
  
              </form>
  
            
          </div>
        </div>
  
      </div>
    </div>


  </div>



