
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>ChicBee Reset Password</title>
</head>
<body>    
  <br> <br><br>
    <div id="logreg-forms">
        <form class="form-signin">
            <img src="assets/img/avatars/logo.jpg"  alt="Logo"    style="height: 100px;margin-left: 110px;">
        <br>
      <br>
      <br>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Reset Password</h1>
            <br>
            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div>
            <br>
            
            <input [type]="showNew ? 'text' : 'password'"  [formControl]="password"  id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="new-password">
            <span toggle="#password-field" (click)="passwordHideShowNew(inputPassword)" [class]="showNew ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
            ></span>
            <span class="error text-danger">{{_util.errorMessage(password,FORM_ERROR?.password)}}</span>
            <br>
            <br>
            <input [type]="showConfirm ? 'text' : 'password'"  [formControl]="confirmpassword"  id="inputPassword" class="form-control" placeholder="New Password" required="" autocomplete="new-password">
            <span toggle="#password-field" (click)="passwordHideShowConfirm(inputPassword)" [class]="showConfirm ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
            ></span>
            <span class="error text-danger" *ngIf="!loginForm.hasError('notSame')">{{_util.errorMessage(confirmpassword,FORM_ERROR?.confirmpassword)}}</span>
            <span class="error text-danger" *ngIf="loginForm.hasError('notSame')">Password and confirm password does not match</span>
            <br>  
            <br>
            <app-loader-button class="btn-block" [loader]="loader" title="Submit" (click)="submit()">
              </app-loader-button>
            <a [routerLink] = "['/login']" id="forgot_pswd">Back to login</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            </form>

       
            <br>
            
    </div>
 
</body>
</html>