<div class="login-bg">
    <br> <br><br>
    
      <div id="logreg-forms" style="border-radius: 28px;width: 500px;">
        
          <form class="form-signin">
             <img src="assets/img/avatars/logo.jpg"  alt="Logo"    style="height: 100px;margin-left: 155px;">
            <br>  <br>
           
            <br>
            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div>
            <br>
            <div class="form-group col-lg-12">
                <label for="usr">New Password:</label>
            <input [type]="showNew ? 'text' : 'password'"  [formControl]="password"  id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="new-password">
            <span toggle="#password-field" (click)="passwordHideShowNew(inputPassword)" [class]="showNew ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
            ></span>
            <span class="error text-danger">{{_util.errorMessage(password,FORM_ERROR?.password)}}</span>
            </div>
            <div class="form-group col-lg-12">
                <label for="usr">Confirm New Password:</label>
            <input [type]="showConfirm ? 'text' : 'password'"  [formControl]="confirmpassword"  id="inputPassword" class="form-control" placeholder="Confirm New Password" required="" autocomplete="new-password">
            <span toggle="#password-field" (click)="passwordHideShowConfirm(inputPassword)" [class]="showConfirm ? 'fa fa-fw fa-eye field-icon toggle-password' : 'fa fa-fw fa-eye-slash field-icon toggle-password'" 
            ></span>
            <span class="error text-danger" *ngIf="!loginForm.hasError('notSame')">{{_util.errorMessage(confirmpassword,FORM_ERROR?.confirmpassword)}}</span>
            <span class="error text-danger" *ngIf="loginForm.hasError('notSame')">New password and confirm new password doesn't match. Try Again</span>
         </div>
            <br>  
            <div class="form-group col-lg-12">
            <app-loader-button class="btn-block" [loader]="loader" title="Submit" (click)="submit()">
              </app-loader-button>
            </div>
            <a [routerLink] = "['/login']" style="margin-left: 20px;" id="forgot_pswd">Back to login</a>
       
            </form>

       
            <br>
            
    </div>
 
</div>