<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div *ngIf="this.id==null"  class="breadc"><a class="active" [routerLink]="['/theme/discount']"> Discount</a> / <a class="breada">Add Discount</a></div> 
            <div *ngIf="this.id"  class="breadc"> <a class="active" [routerLink]="['/theme/discount']"> Discount</a> / <a class="breada">Edit Discount</a></div> 
            
          
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label for="inputEmail4"><b>Title(English)<span class="star">*</span></b></label>
                <input type="text" [formControl]="title" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.B_NAME" class="form-control" id="inputEmail4" placeholder="Enter the title">

            
                <span class="error text-danger">{{_util.errorMessage(title,FORM_ERROR?.title)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4"><b>Description(English)  </b></label>
                <textarea type="text" [formControl]="description" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.DESCRIPTION_LENGTH" class="form-control" id="inputPassword4"
                  placeholder="Enter the description"></textarea>
              
                  <span class="error text-danger">{{_util.errorMessage(description,FORM_ERROR?.description)}}</span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"><b>Title(Arabic) <span class="star">*</span></b></label>
                <input type="text" [formControl]="title_arabic" style="direction:RTL;" onkeyup="rtl(this);" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.B_NAME" class="form-control" id="inputEmail4" placeholder="أدخل العنوان">

            
                <span class="error text-danger">{{_util.errorMessage(title_arabic,FORM_ERROR?.title_arabic)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4"><b>Description(Arabic) </b></label>
                <textarea type="text" [formControl]=" description_arabic"  style="direction:RTL;" onkeyup="rtl(this);" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.DESCRIPTION_LENGTH" class="form-control" id="inputPassword4"
                  placeholder="وصف المنتج"></textarea>
              
                  <span class="error text-danger">{{_util.errorMessage(description_arabic,FORM_ERROR?.description_arabic)}}</span>
              </div>
    
            <div class="form-group col-md-3">
                <label for="inputEmail4"><b>Promo Code  <span class="star">*</span></b></label>
                <input type="text" [formControl]="promocode" class="form-control" id="inputEmail4" placeholder="Enter promo code" [minlength]="CONFIG?.MINCODE" [maxlength]="CONFIG?.MAXCODE">

            
                <span class="error text-danger">{{_util.errorMessage(promocode,FORM_ERROR?.promocode)}}</span>
              </div>
            
               
                  <div class="form-group col-md-3">
                      <label for="inputEmail4"><b>Min. Order Value <span class="star">*</span></b></label>
                      <input type="text" [formControl]="min_order_value" class="form-control" id="inputEmail4" appOnlyNumber placeholder="Enter min. order value" [minlength]="CONFIG?.MINORDER" [maxlength]="CONFIG?.MAXORDER">
              
                      <span class="error text-danger">{{_util.errorMessage(min_order_value,FORM_ERROR?.min_order_value)}}</span>
                    </div>
               
                <hr>
                   <div class="form-group col-md-4">
                      <label for="inputState"><b>Date Range <span class="star">*</span></b></label>
                  <input type="text" ngxDaterangepickerMd  [formControl]="discount_range" class="form-control" (choosedDate)="choosedDate($event)" [maxlength]="CONFIG?.DATE_MAX_LENGTH"  [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                  
                    placeholder="Select date"  />
                    <span class="error text-danger">{{_util.errorMessage(discount_range,FORM_ERROR?.discount_range)}}</span>
                    </div>
                   <div class="form-group col-md-2">
                        <label for="inputState"><b>Discount Type <span class="star">*</span></b></label>
                        <select id="inputState" [formControl]="promo_type" class="form-control" (change) = "changeType($event)">
                          <option value="">Select type</option>
                          <option value="1">Flat</option>
                          <option value="2">Percentage</option>
                         
                          
                        </select>
                    
                      <span class="error text-danger">{{_util.errorMessage(promo_type,FORM_ERROR?.promo_type)}}</span>
                    </div>
                   <div class="form-group col-md-3">
                        <label for="inputEmail4"><b>Discounted Price{{dPrice}} <span class="star">*</span></b></label>
                        <input type="number" [formControl]="promo_discount" (keypress) = "changeNumber($event)"   [minlength]="CONFIG?.MINORDER" [max]=max [min]=min [maxlength]="CONFIG?.MAXORDER" class="form-control" id="inputEmail4" [placeholder]="placeHolderText">
                        
                    
                        <span class="error text-danger">{{_util.errorMessage(promo_discount,FORM_ERROR?.promo_discount)}}</span>
                        <span class="error text-danger" *ngIf="loginForm.value.min_order_value<=loginForm.value.promo_discount&&loginForm.value.promo_discount!=''&&loginForm.value.promo_type==1">
                          Discounted price can not be greater or equal to the min. order value</span>
                      </div>
                      <div class="form-group col-md-3" >
                          <label for="inputState"><b>Status <span class="star">*</span></b></label>
                          <select id="inputState" [formControl]="statusKey" class="form-control">
                            <option value=""> Select status</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                          </select>
                        
                        <span class="error text-danger">{{_util.errorMessage(statusKey,FORM_ERROR?.statusKey)}}</span>
                      </div>
                      <div class="form-group col-md-3" >
                        <label for="inputState"><b>Assigned To <span class="star">*</span></b></label>
                        <select id="inputState" [formControl]="assignment" class="form-control">
                          <option value="">Select users</option>
                          <option value="1">All Users</option>
                         
                        </select>
                     
                      <span class="error text-danger">{{_util.errorMessage(assignment,FORM_ERROR?.assignment)}}</span>
                    </div>
               
            </div>

              <br>
              <button  *ngIf="this.id==null"  type="button" class="btn btn-primary" (click)="submit()">Save</button>
              <button *ngIf="this.id" type="button" class="btn btn-primary" (click)="update()">Save</button>


            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>