<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div *ngIf="this.id==null"  class="breadc"><a class="active" [routerLink]="['/theme/discount']"> Discount</a> / <a class="breada">Add Discount</a></div> 
            <div *ngIf="this.id"  class="breadc"> <a class="active" [routerLink]="['/theme/discount']"> Discount</a> / <a class="breada">Edit Discount</a></div> 
            
          
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label for="inputEmail4">Discount Name</label>
                <input type="text" [formControl]="title" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.B_NAME" class="form-control" id="inputEmail4" placeholder="Discount Name">

            
                <span class="error text-danger">{{_util.errorMessage(title,FORM_ERROR?.title)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4">Discount Description</label>
                <textarea type="text" [formControl]="description" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.DESCRIPTION_LENGTH" class="form-control" id="inputPassword4"
                  placeholder="Discount Description"></textarea>
              
                  <span class="error text-danger">{{_util.errorMessage(description,FORM_ERROR?.description)}}</span>
              </div>
              
    
    
            <div class="form-group col-md-3">
                <label for="inputEmail4">Discount Promo Code</label>
                <input type="text" [formControl]="promocode" class="form-control" id="inputEmail4" placeholder="Discount Promo Code" [minlength]="CONFIG?.MINCODE" [maxlength]="CONFIG?.MAXCODE">

            
                <span class="error text-danger">{{_util.errorMessage(promocode,FORM_ERROR?.promocode)}}</span>
              </div>
            
               
                  <div class="form-group col-md-3">
                      <label for="inputEmail4">Discount Min Order Value</label>
                      <input type="text" [formControl]="min_order_value" class="form-control" id="inputEmail4" placeholder="Discount Min Order Value" [minlength]="CONFIG?.MINORDER" [maxlength]="CONFIG?.MAXORDER">
              
                      <span class="error text-danger">{{_util.errorMessage(min_order_value,FORM_ERROR?.min_order_value)}}</span>
                    </div>
               
                <hr>
                   <div class="form-group col-md-4">
                      <label for="inputState">Discount range date</label>
                  <input type="text" ngxDaterangepickerMd  [formControl]="discount_range" class="form-control" (choosedDate)="choosedDate($event)"   [locale]="{applyLabel: 'ok', format: 'YYYY-DD-MM'}"
                  
                    placeholder="Discount Date Range"  />
                    <span class="error text-danger">{{_util.errorMessage(discount_range,FORM_ERROR?.discount_range)}}</span>
                    </div>
                   <div class="form-group col-md-2">
                        <label for="inputState">Discount Type</label>
                        <select id="inputState" [formControl]="promo_type" class="form-control" (change) = "changeType($event)">
                          <option value="">Please Select</option>
                          <option value="2">Percentage</option>
                          <option value="1">Flat</option>
                          
                        </select>
                    
                      <span class="error text-danger">{{_util.errorMessage(promo_type,FORM_ERROR?.promo_type)}}</span>
                    </div>
                   <div class="form-group col-md-3">
                        <label for="inputEmail4">Discount Price</label>
                        <input type="text" [formControl]="promo_discount" [minlength]="CONFIG?.MINORDER" [maxlength]="CONFIG?.MAXORDER" class="form-control" id="inputEmail4" [placeholder]="placeHolderText">
        
                    
                        <span class="error text-danger">{{_util.errorMessage(promo_discount,FORM_ERROR?.promo_discount)}}</span>
                      </div>
                      <div class="form-group col-md-3" >
                          <label for="inputState">Status</label>
                          <select id="inputState" [formControl]="statusKey" class="form-control">
                            <option value="">Please Select</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                          </select>
                        
                        <span class="error text-danger">{{_util.errorMessage(statusKey,FORM_ERROR?.statusKey)}}</span>
                      </div>
                      <div class="form-group col-md-3" >
                        <label for="inputState">Assignment</label>
                        <select id="inputState" [formControl]="assignment" class="form-control">
                          <option value="">Please Select</option>
                          <option value="1">All Users</option>
                         
                        </select>
                     
                      <span class="error text-danger">{{_util.errorMessage(assignment,FORM_ERROR?.assignment)}}</span>
                    </div>
               
            </div>

              <br>
              <button  *ngIf="this.id==null"  type="button" class="btn btn-primary" (click)="submit()">Save</button>
              <button *ngIf="this.id" type="button" class="btn btn-primary" (click)="update()">Save</button>


            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>