<div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">

             <div class="row ">
                <div class="breadc col-md-6 float-left"> <a class="breada">Products</a></div>    
                <div class="col-md-6 float-left"> 
                    <a (click)="exportDataF()"> <button type="button" style="margin:0px 19px -2px 0px;color:white;" class="ml-3 btn bg-dark  white float-right ml-1" > Export to
                        CSV</button></a>
                      <a [routerLink]="['/theme/products/add']"> <button type="button" style="margin-right: -11px"  class="btn btn-primary float-right ml-1">Add
                          Product</button></a>
                  </div>
                 </div>
           
     
            <hr />
            <div class="col-sm-12 col-lg-12"  style="margin-left: -17px;">
              <div class="col-md-2 float-left">
                <input type="text" [formControl]="search" class="form-control" id="inputEmail4" placeholder="Search by Product Name">
              </div>
            
              <div class="col-md-1 float-left">
                 
                <input type="text" ngxDaterangepickerMd  style="min-width:190px"   [maxlength]="CONFIG?.DATE_MAX_LENGTH" class="form-control"  (choosedDate)="choosedDate($event)"   [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
                [formControl]="range"
                  placeholder="Filter Date"  />
              </div>
              <div class="col-md-8 float-right">
                
                <a> <button type="button" (click)="reset()" class="btn btn-primary float-right ml-1"  style="margin-right: -29px;">Reset</button></a>
                <a> <button type="button" (click)="filter()" class="btn btn-primary float-right ml-1">Filter</button></a>
  
  
              </div>
            </div>
          </div>
         
        <div class="card-body">
            <div class="col-sm-1 col-lg-1 float-left"> 
                <select class="form-control" (change)="filterSelected($event.target.value)">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <div class="col-sm-1 col-lg-1 float-left" style="min-width: 125px;"> 
                  <select class="form-control" [formControl]="status" (change)="filterSelectedStatus($event.target.value)">
                      <option value="">All</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                  </select>
                </div>
        </div>
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
            
            <div class="card text-white ">
              <div class="pb-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">S.No</th>
                      <th scope="col">Name(English)</th>
                      <th scope="col">Name(Arabic)</th>
                     <th scope="col">Brand</th>
                      <th scope="col">Status</th>
                      <th scope="col">Created at</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="collection.length>0">
                    <tr *ngFor="let i of collection  | paginate: { id: 'listing_pagination',
                    itemsPerPage: limit,
                    currentPage: page,
                    totalItems: totalRec }; let ie = index">
                    <td>
                        {{ ((limit * (page - 1)) + ie+1) }}

                    </td>
                      <td scope="row" style=" text-transform: capitalize;">{{this.add3Dots(i.product_name_en,20)}}
                      </td>
                      <td scope="row" style=" text-transform: capitalize;">{{this.add3Dots(i.product_name_ar,20)}}
                        </td>
                    
                    
                    
                   
                  <td>{{i.brand_name_en}}
                      
                    </td>
                   
                    <td>{{i.status}}
                      
                      </td>
                      <td> {{this.transform(i.created_at)}}
                        </td>
                
                      <td>
                          <a title="View Product" [routerLink]="['/theme/products/detail-product',{id :i?.id}]"> <i style="font-size:24px" class="fa fa-eye"></i></a>&nbsp;                   
                          <a title="Similar Product" [routerLink]="['/theme/products/similar-product',{id :i?.id}]"> <i style="font-size:24px" class="fa fa-plus"></i></a>&nbsp;  
                          <a title="Duplicate Product" [routerLink]="['/theme/products/add',{product_id :i?.id}]"> <i style="font-size:24px" class="fa fa-copy"></i></a>&nbsp;                  
                        <a title="Edit Product" [routerLink]="['/theme/products/edit',{id :i?.id}]"> <i style="font-size:24px" class="fa fa-edit"></i></a>&nbsp;                      
                        <a  title="Active Product"(click)="openVerticallyCentered(poup1,i)" *ngIf="i.status=='Active'"> <i style="font-size:24px" class="fa fa-ban"></i>&nbsp;   </a>
                        <a  title="Inactive Product" (click)="openVerticallyCentered(poup2,i)" *ngIf="i.status=='Inactive'">   <i style="font-size:24px;color:red;" class="fa fa-ban"></i>&nbsp;   </a>           
                        <a title="Delete Product" (click)="openVerticallyCentered(poup,i)"> <i style="font-size:24px"
                            class="fa fa-trash-o"></i></a>

                      </td>
                    </tr>

                  </tbody>
                  <tbody *ngIf="collection.length==0">
                    <tr class="text-center">
                      <td colspan="10">No records found</td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="collection.length>0" id="listing_pagination" maxSize="5" directionLinks="true" (click)="onScroll()"
                  (pageChange)="page = $event"></pagination-controls>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #poup let-modal>
  <!----- Header  ------>
  <section id="modal-header"> 
    <h5 class="p-3 primary-color-bg bg-dark text-center">Delete Product</h5>
    <div class="">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Are you sure you want to delete this Product ? </p>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class=" frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
          <button type="button" class="ml-3 btn bg-dark  white" (click)="yes()">Yes</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #poup1 let-modal>
    <!----- Header  ------>
    <section id="modal-header">
      <h5 class="p-3 primary-color-bg bg-dark text-center">Deactivate Product</h5>
      <div class="">
        <div class="row pt-4">
          <div class="col-md-12 frgtpass-head">
            <p class="text-center"> Are you sure you want to deactive this Product ? </p>
          </div>
        </div>
      </div>
    </section>
    <!-------------->
    <section>
      <div class=" frgtpass-btns mb-3">
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
            <button type="button" class="ml-3 btn bg-dark  white" (click)="yesStatus()">Yes</button>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
  <ng-template #poup2 let-modal>
      <!----- Header  ------>
      <section id="modal-header">
        <h5 class="p-3 primary-color-bg bg-dark text-center">Activate Product</h5>
        <div class="">
          <div class="row pt-4">
            <div class="col-md-12 frgtpass-head">
              <p class="text-center"> Are you sure you want to active this Product ? </p>
            </div>
          </div>
        </div>
      </section>
      <!-------------->
      <section>
        <div class=" frgtpass-btns mb-3">
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="button" class="ml-3 btn bg-dark  white" (click)="modal.close('Close click')">No</button>
              <button type="button" class="ml-3 btn bg-dark  white" (click)="yesStatus()">Yes</button>
            </div>
          </div>
        </div>
      </section>
    </ng-template>