




  <div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
              <div  class="breadc"><a class="active" [routerLink]="['/theme/orders']"> Orders</a> / <a class="breada">Detail Order</a></div> 
             
          </div>
          <div class="card-body">
              <div class="row">
               
                <div class="card new-card">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Order Detail</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                           <label class="float-left"> <b > Order ID: </b></label>
                            <p>1234445</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Date & Time : </b></label>
                              <p>12/02/2020 3:34 PM</p>
                            </div>
                            <div class="col-md-6">
                                <label class="float-left"> <b >Payment Method : </b></label>
                                 <p>COD</p>
                               </div>
                        </div>
                    </div>
                </div>
                <div class="card new-card">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Shipping Details</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="float-left"> <b > Costumer Name : </b></label>
                                 <p>Rahul</p>
                               </div>
                               <div class="col-md-6">
                                  <label class="float-left"> <b > Mobile Number : </b></label>
                                   <p>12132332332</p>
                                 </div>
                                 <div class="col-md-6">
                                    <label class="float-left"> <b > Delivery Adress : </b></label>
                                     <p>Noida</p>
                                   </div>
                        </div>
                    </div></div>
                    <div class="card " style="width:100%;">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Product Details</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="card-body pb-0 ">
                                <table class="table table-striped table-response">
                                  <thead>
                                    <tr >
                                      <th scope="col">S.No.</th>
                                      <th scope="col">Product ID</th>
                                      <th scope="col">Product Name</th>
                                      <th scope="col">Status</th>
                                      
                                    
            
            
                
                                    </tr>
                                  </thead>
                                
            
                                 
                                <!-- <pagination-controls *ngIf="productList.length>0" id="listing_pagination" maxSize="5" directionLinks="true" (click)="onScroll()"
                                  (pageChange)="page = $event"></pagination-controls>
                 -->
            
                              </div>
                            
                        </div>
                            </div></div>





                            <div class="card new-card">
                              <div class="card-header">
                                  <div  class="breadc"><a class="breada"> Product Details</a></div>                      
                              </div>
                              <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12 col-lg-12 mr-top" >
                                      <div class="card text-white ">
                                       
                                        
                                      </div>
                      
                      
                                    </div>
                                    
                                  </div>
                                  <button [routerLink]="['/theme/banners']"  style="margin-top: 20px;" type="button" class="btn btn-primary" >Back</button>
                              </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          
              </div> <!-- row.// -->
              
            </div> <!-- card.// -->
            
       