<div class="animated fadeIn" style="margin-top:30px;" >
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
  
            <div *ngIf="this.id==null" class="breadc"><a class="active" [routerLink]="['/theme/simplebanners']">
                Drivers</a> / <a class="breada">Add Driver</a></div>
            <div *ngIf="this.id" class="breadc"> <a class="active" [routerLink]="['/theme/simplebanners']"> Banners</a> /
              <a class="breada">Edit Driver</a></div>
          </div>
          <div class="card-body">
  
              <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
              <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div>
                <form>
                <div class="row">
                    <div class="col-sm-3">
                        <label><b>Driver Name<span style="color:red">*</span></b></label> 
                        <input type="text"  class="form-control" (keypress)="namePress($event)" placeholder="Enter Driver Name" [formControl]="name" maxlength="50">
                        <span class="error text-danger">{{_util.errorMessage(name,FORM_ERROR?.name)}}</span>
                    </div>


                    <div class="col-sm-3">
                        <label><b>Driver Email<span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter Driver Email" [formControl]="email" >
                        <span class="error text-danger">{{_util.errorMessage(email,FORM_ERROR?.email)}}</span>
                    </div>

                    <div class="col-sm-3">
                        <label><b>Driver license Number<span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter Driver License" [formControl]="license" maxlength="15">
                        <span class="error text-danger">{{_util.errorMessage(license,FORM_ERROR?.license)}}</span>
                    </div>

                    <div class="col-sm-3 ">
                        <label><b>Vehicle Type<span style="color:red">*</span></b></label><br/>
                        <select class="form-control" [formControl]="vehicle_type">
                            <option value="">Please Select</option>
                            <option value="2 Wheeler">2 Wheeler</option>
                            <option value="4 Wheeler">4 Wheeler</option>
                        </select>
                        <span class="error text-danger">{{_util.errorMessage(vehicle_type,FORM_ERROR?.vehicle_type)}}</span>
                    </div>
                

                    <div class="col-sm-4 mr-top1">
                        <label><b>Driver Mobile Number<span style="color:red">*</span></b></label>
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control" [formControl]="country_code" [disabled]="true">
                                    <!-- <option value="">please </option> -->
                                    <option value="">+974</option>
                                </select>
                            </div>
                            <div class="col-sm-9" style="padding-left:0px;">
                        <input type="text"  class="form-control" placeholder="Enter Mobile  Number" (keypress)="numberPress($event)" [formControl]="mobile" maxlength="15">
                        <span class="error text-danger">{{_util.errorMessage(mobile,FORM_ERROR?.mobile)}}</span>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-3 float-right mr-top1">
                        <label><b>Plate Number<span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter Plate Number" [formControl]="plate_number"   maxlength="10">
                        <span class="error text-danger">{{_util.errorMessage(plate_number,FORM_ERROR?.plate_number)}}</span>
                    </div>

                 


                 

                    <div class="col-sm-5 mr-top1">
                        <label><b>Driver Address<span style="color:red">*</span></b></label>
                        <textarea class="form-control"  style="min-height:100px" placeholder="Enter Driver Address" [formControl]="address"  maxlength="120"> </textarea>
                        <span class="error text-danger">{{_util.errorMessage(address,FORM_ERROR?.address)}}</span>
                    </div>
                   
                </div><br/>


            <button *ngIf="this.id==null" type="submit" class="btn btn-success" (click)="onSubmit()">Save</button>
            <button type="button" *ngIf="this.id!=null" class="btn btn-success" (click)="update()">Save</button>
                

            </form>
  
          </div>
        </div>
  
      </div>
    </div>
  
  
  </div>