<div class="animated fadeIn" style="margin-top:30px;" >
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
  
            <div *ngIf="this.id==null" class="breadc"><a class="active" [routerLink]="['/theme/drivers']">
                Drivers</a> / <a class="breada">Add Driver</a></div>
            <div *ngIf="this.id" class="breadc"> <a class="active" [routerLink]="['/theme/Drivers']"> Drivers</a> /
              <a class="breada">Edit Driver</a></div>
          </div>
          <div class="card-body">
<!--   
              <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
              <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div> -->
                <form>
                <div class="row">
                    <div class="col-sm-3">
                        <label><b>Name <span style="color:red">*</span></b></label> 
                        <input type="text"  class="form-control" (keypress)="namePress($event)" placeholder="Enter driver name" [formControl]="name" maxlength="50">
                        <span class="error text-danger">{{_util.errorMessage(name,FORM_ERROR?.name)}}</span>
                    </div>


                    <div class="col-sm-3">
                        <label><b>Email address <span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter the email address" [formControl]="email" >
                        <span class="error text-danger">{{_util.errorMessage(email,FORM_ERROR?.email)}}</span>
                    </div>

                    <div class="col-sm-3">
                        <label><b>License Number <span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter license number" [formControl]="license" maxlength="15">
                        <span class="error text-danger">{{_util.errorMessage(license,FORM_ERROR?.license)}}</span>
                    </div>

                    <div class="col-sm-3 ">
                        <label><b>Vehicle Type <span style="color:red">*</span></b></label><br/>
                        <select class="form-control" [formControl]="vehicle_type">
                            <option value=""> Select Type</option>
                            <option value="2 Wheeler">2 Wheeler</option>
                            <option value="4 Wheeler">4 Wheeler</option>
                        </select>
                        <span class="error text-danger">{{_util.errorMessage(vehicle_type,FORM_ERROR?.vehicle_type)}}</span>
                    </div>
                

                    <div class="col-sm-3 mr-top1">
                        <label><b> Mobile number <span style="color:red">*</span></b></label>
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control" [formControl]="country_code" [disabled]="true" style="padding-left:0;padding-right:0px;">
                                    <!-- <option value="">please </option> -->
                                    <option value="">+974</option>
                                </select>
                            </div>
                            <div class="col-sm-9" style="padding-left:0px;">
                        <input type="text"  class="form-control" placeholder="Enter mobile  number" (keypress)="numberPress($event)" [formControl]="mobile" [maxlength]='CONFIG.MOBILE_LENGTH'>
                        <span class="error text-danger">{{_util.errorMessage(mobile,FORM_ERROR?.mobile)}}</span>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-3 float-right mr-top1">
                        <label><b>Plate Number <span style="color:red">*</span></b></label>
                        <input type="text"  class="form-control" placeholder="Enter plate number" [formControl]="plate_number"    [maxlength]='CONFIG.MOBILE_MIN_LENGTH'>
                        <span class="error text-danger">{{_util.errorMessage(plate_number,FORM_ERROR?.plate_number)}}</span>
                    </div>

                 


                 

                    <div class="col-sm-6 mr-top1">
                        <label><b>Address <span style="color:red">*</span></b></label>
                        <textarea class="form-control"  style="min-height:100px" placeholder="Enter an address" [formControl]="address"  [maxlength]='CONFIG.ADDRESS_MAX_LENGTH'> </textarea>
                        <span class="error text-danger">{{_util.errorMessage(address,FORM_ERROR?.address)}}</span>
                    </div>
                   
                </div><br/>


            <button *ngIf="this.id==null" type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            <button type="button" *ngIf="this.id!=null" class="btn btn-primary" (click)="update()">Save</button>
                

            </form>
  
          </div>
        </div>
  
      </div>
    </div>
  
  
  </div>