<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div *ngIf="this.id==null"  class="breadc"><a class="active" [routerLink]="['/theme/products']"> Products</a> / <a class="breada">Add Product</a></div> 
            <div *ngIf="this.id"  class="breadc"> <a class="active" [routerLink]="['/theme/products']"> Products</a> / <a class="breada">Edit Product</a></div> 
            <div *ngIf="this.product_id"  class="breadc"> <a class="active" [routerLink]="['/theme/products']"> Products</a> / <a class="breada">Duplicate Product</a></div> 
            
          
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label for="inputEmail4">Product Name(English) <span style="color:red">*</span></label>
                <input type="text" [formControl]="product_name_en" class="form-control" id="inputEmail4" placeholder="Product Name">

            
                <span class="error text-danger">{{_util.errorMessage(product_name_en,FORM_ERROR?.product_name_en)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4">Product Description(English) <span style="color:red">*</span></label>
                <textarea type="text" [formControl]="product_description_en" class="form-control" id="inputPassword4"
                  placeholder="Product Description"></textarea>
              
                  <span class="error text-danger">{{_util.errorMessage(product_description_en,FORM_ERROR?.product_description_en)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                  <label for="inputEmail4">Product Name(Arabic) <span style="color:red">*</span></label>
                  <input type="text" [formControl]="product_name_ar" class="form-control" id="inputEmail4"  style="direction:RTL;" onkeyup="rtl(this);" placeholder="اسم المنتج">
              
                <span class="error text-danger">{{_util.errorMessage(product_name_ar,FORM_ERROR?.product_name_ar)}}</span>
              </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Product Description(Arabic) <span style="color:red">*</span></label>
                  <textarea type="text" [formControl]="product_description_ar" class="form-control"   style="direction:RTL;" onkeyup="rtl(this);" id="inputPassword4"
                    placeholder="وصف المنتج"></textarea>
                 
              <span class="error text-danger">{{_util.errorMessage(product_description_ar,FORM_ERROR?.product_description_ar)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Brand <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="brand_id" class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
               
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(brand_id,FORM_ERROR?.brand_id)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="category_id" (change)='onOptionsSelectedSub($event)' class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(category_id,FORM_ERROR?.category_id)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Sub-category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="subCategory" (change)='onOptionsSelectedChild($event)' class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of subcategories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(subCategory,FORM_ERROR?.subCategory)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Child-category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="childCategory"   class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of childcategories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(childCategory,FORM_ERROR?.childCategory)}}</span>
            </div>
            <!-- <div class="form-group col-md-3">
                <label for="inputState">Product Status</label>
                <select id="inputState" [formControl]="status" class="form-control">
                  <option value="">Please Select</option>
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(status,FORM_ERROR?.status)}}</span>
            </div> -->
            
            <div class="form-group col-md-3">
                <label for="inputEmail4">Product Quantity <span style="color:red">*</span></label>
                <input type="text" [formControl]="quantity" class="form-control" [minlength]="CONFIG?.MINORDER" [maxlength]="CONFIG?.MAXORDER" id="inputEmail4" placeholder="Product Quantity">

            
                <span class="error text-danger">{{_util.errorMessage(quantity,FORM_ERROR?.quantity)}}</span>
              </div>
              <div class="form-group col-md-3">
                  <label for="inputEmail4">Product Size <span style="color:red">*</span></label>
                  <select id="inputState" [formControl]="product_size" class="form-control">
                      <option value="">Please Select</option>
                  <option  *ngFor="let size of sizes" [value]="size.id">{{size.size}}</option>
                  </select>
              
                  <span class="error text-danger">{{_util.errorMessage(product_size,FORM_ERROR?.product_size)}}</span>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Product Price(QAR) <span style="color:red">*</span></label>
                    <input type="text" [formControl]="product_price" [minlength]="CONFIG?.MINORDER" [maxlength]="CONFIG?.MAXORDER" class="form-control" id="inputEmail4" placeholder="Product Price">
    
                
                    <span class="error text-danger">{{_util.errorMessage(product_price,FORM_ERROR?.product_price)}}</span>
                  </div>
                  <div class="form-group col-md-3">
                      <label for="inputEmail4">Product Color <span style="color:red">*</span></label>
                      <input type="text" [formControl]="product_colour" readonly class="form-control" id="inputEmail4" placeholder="Product Color">
                      <span class="error text-danger">{{_util.errorMessage(product_colour,FORM_ERROR?.product_colour)}}</span><br/>
     <color-hue-picker [color]="state" (onChange)="handleChange($event)"></color-hue-picker><br/>
     <b class="float-right reset-class" (click)="Reset()"><i class="fa fa-refresh" aria-hidden="true"></i></b>  
                             
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Attribute Description(English)</label>
                      <textarea type="text" [formControl]="attribute_description_en" class="form-control" id="inputPassword4"
                        placeholder="Attribute Description"></textarea>
                    
                        <span class="error text-danger">{{_util.errorMessage(attribute_description_en,FORM_ERROR?.attribute_description_en)}}</span>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Attribute Description(Arabic)</label>
                      <textarea type="text" [formControl]="attribute_description_ar" class="form-control"   style="direction:RTL;" onkeyup="rtl(this);" id="inputPassword4"
                      placeholder="وصف السمة"></textarea>
                     
                  <span class="error text-danger">{{_util.errorMessage(attribute_description_ar,FORM_ERROR?.attribute_description_ar)}}</span>
                </div>
                <hr>
                   <div class="form-group col-md-4">
                      <label for="inputState">Discount range date</label>
                  <input type="text" ngxDaterangepickerMd  [formControl]="discount_range" class="form-control" (datesUpdated)="choosedDate($event)" (keydown)="onKeydown($event)"   [locale]="{applyLabel: 'ok', format: 'YYYY-DD-MM'}"
                  
                    placeholder="Discount Date Range"  />
                    <span class="error text-danger">{{_util.errorMessage(discount_range,FORM_ERROR?.discount_range)}}</span>
                    </div>
                   <div class="form-group col-md-2">
                        <label for="inputState">Discount Type</label>
                        <select id="inputState" [formControl]="discount_type" class="form-control" (change) = "changeType($event)">
                          <option value="">Please Select</option>
                          <option value="2">Percentage</option>
                          <option value="1">Flat</option>
                          
                        </select>
                    
                      <span class="error text-danger">{{_util.errorMessage(discount_type,FORM_ERROR?.discount_type)}}</span>
                    </div>
                   <div class="form-group col-md-3">
                        <label for="inputEmail4">Discount Price{{dPrice}}</label>
                        <input type="text" [formControl]="discount_value"  (keypress) = "changeNumber($event)" appOnlyNumber [minlength]="CONFIG?.MINORDER" [max]=max [min]=min [maxlength]="CONFIG?.MAXORDER" class="form-control" id="inputEmail4" [placeholder]="placeHolderText">
        
                    
                        <span class="error text-danger">{{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
                      </div>
                      <div class="form-group col-md-3" *ngIf="this.id">
                          <label for="inputState">Status</label>
                          <select id="inputState" [formControl]="statusKey" class="form-control">
                          
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                          </select>
                          <br/>
                        <span class="error text-danger">{{_util.errorMessage(statusKey,FORM_ERROR?.statusKey)}}</span>
                      </div>
                      <hr>
                      <div class="form-group col-md-12">
           
                          <label for="exampleFormControlFile1">Product Video</label>
                          <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Product Video</div>
                                          <div class="file-select-name" id="noFile">{{choosefile}}</div> 
                                          <input type="file" name="chooseFile" id="chooseFile"  (change)="onSelectFile($event)">
                                        </div>
                                      </div>
                                      <br/>
                                      <img style="height:100px;width:100px;" *ngIf="!url" src="assets/img/avatars/no-video-png-2.png" />
                                    <div class="video" *ngIf="url">
                                        <video controls (click)="toggleVideo()" #videoPlayer style="width:400px;">
                                          <source [src]="url" type="video/mp4" />
                                          Browser not supported
                                        </video>
                                      </div>
                        </div>
                       
                        <div class="form-group col-md-12">
                        
                          <div class="file-upload">
                              <div class="file-select">
                                <div class="file-select-button" id="fileName">Product Images</div>
                                <div class="file-select-name" id="noFile">{{choosefileDatas}}</div> 
                                <input type="file" name="chooseFile1" multiple id="chooseFile" accept="image/*" (change)="onSelectFileMultiple($event)">
                              </div>
                            </div>
                            <br>
                            <div class="col-md-12" *ngIf="urlData.length==0 ">
                              
                            
                           
                                   <img  style="height:100px;width:100px;" class="img"  src='assets/img/avatars/no.png' alt="Snow">
                                 
                         
                             
                         </div> 
                            <div class="col-md-12" *ngIf="urlData.length>0">
                  
                                      <img  style="height:100px;width:100px;margin-right: 5px;float:left" *ngFor="let data of urlData"  class="img"  [src]="data" alt="Snow">
                                     
                            
                                
                            </div>
                           
                            
                        </div>

               
            </div>

              <br>
              <button  *ngIf="this.id==null"  type="button" class="btn btn-primary" (click)="submit()">Save</button>
              <button *ngIf="this.id" type="button" class="btn btn-primary" (click)="update()">Save</button>
              <button *ngIf="this.product_id" type="button" class="btn btn-primary" (click)="submit()">Save</button>
              


            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>