<div class="animated fadeIn" style="margin-top:30px;" >
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">

          <div *ngIf="this.id==null" class="breadc"><a class="active" [routerLink]="['/theme/banners']"> Promotional
              Banners</a> / <a class="breada">Add Banner</a></div>
          <div *ngIf="this.id" class="breadc"> <a class="active" [routerLink]="['/theme/banners']">Promotional Banners</a> / <a
              class="breada">Edit Banner</a></div>
        </div>
        <div class="card-body">



          <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
            <div class="row ">

              <div class="form-group col-md-2">
                <b for="inputEmail4">Banner Title<span style="color:red">*</span></b> <br />
                <input type="text" class="form-control" (keypress)="namePress($event)"
                  placeholder="Banner Title " [formControl]="title">
                <span class="error text-danger">{{_util.errorMessage(title,FORM_ERROR?.title)}}</span>
              </div>
              <div class="form-group col-md-2 ">
                <b>Min Order Value<span style="color:red">*</span></b>
                <input type="text" class="form-control" (keypress)="keyPress($event)"
                  placeholder="Minimum Value" [formControl]="minimum_value" maxlength="5">
                <span class="error text-danger">{{_util.errorMessage(minimum_value,FORM_ERROR?.minimum_value)}}</span>
              </div>

              <div class="col-md-2 float-left">
                <b>Discount Type<span style="color:red">*</span></b>
                <select class="form-control" placeholder="" [formControl]="discount_type"
                  (change)="changeDiscountType()">
                  <option value="">Please Select</option>
                  <option value="1">Flat </option>
                  <option value="2">Percentage</option>
                </select>
              
                <span class="error text-danger"> {{_util.errorMessage(discount_type,FORM_ERROR?.discount_type)}}</span>
              
            </div>
            
            <div class="col-md-2 float-left" *ngIf="bannerForm.value.discount_type==1">
              <b>Discount Value<span style="color:red">*</span></b>
              <div class="form-group ">

                <input type="text" class="form-control"    (keypress)="keyPress($event)"  placeholder="{{discountType}}"
                  [formControl]="discount_value">
                <span class="error text-danger">
                  {{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
              </div>
            
          </div>

          <div class="col-md-2 float-left"  *ngIf="bannerForm.value.discount_type==2">
            <b>Discount Percentage(%)</b>
            <div class="form-group ">

              <input type="text" class="form-control"  appOnlyNumber  placeholder="{{discountType}}"
                [formControl]="discount_value" maxlength="3" min="0" max="100"> 
              <span class="error text-danger">
                {{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
            </div>
          
        </div>

          <div class="col-md-2 float-left">
            <b>  Available On<span style="color:red">*</span></b>
            <select class="form-control" [formControl]="available_on" (change)="changeProduct()">
              <option value="">Please Select</option>
              <option value="1">Brand</option>
              <option value="2">Product</option>

            </select>
            <span class="error text-danger"> {{_util.errorMessage(available_on,FORM_ERROR?.available_on)}}</span>
          </div>
          


       
              
              
              <div class="col-md-2 float-left" >
                <b>Display Order<span style="color:red">*</span></b>
                <select class="form-control" [formControl]="display_order">
                  <option value="">Please Select</option>
                  <option *ngFor="let order of displayOrder" value="{{order}}">{{order}}</option>
                </select>
                <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
              </div>
             
              <div class="col-md-2 float-left "  style="margin-bottom: 15px;">
                <b>Start & Expiry Date<span style="color:red">*</span></b>
                <input type="text" ngxDaterangepickerMd class="form-control" (choosedDate)="choosedDate($event)"
                  [formControl]="date" [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}" placeholder="Please Select" />
                <span class="error text-danger">{{_util.errorMessage(date,FORM_ERROR?.date)}}</span>
              </div>


              <div class="col-md-2 float-left" >
                <b>Status</b>
                <select class="form-control" [formControl]="status">suod ng <s></s>
                  <option value="">Please Select</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <!-- <option value="trashed">Delete</option> -->
                </select>
                <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
              </div>

              <div class=" col-md-2" *ngIf="isBrand">
                <b> Brand<span style="color:red">*</span></b><br/>
              
                  <div ngbDropdown class="" style="width:100%">
                    <button class="btn btn-outline-primary form-control" id="dropdownForm1" type="button"  ngbDropdownToggle style="width:100%;padding-left:10px;padding-right:0;text-align: left;color:#5c6873">Please Select
                      </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width:100% !important">
  
                      <div style="overflow:auto ;max-height:300px">
                        <table style="width:100%">
                          <thead>
  
                          </thead>
                          <tbody>
                            <tr  *ngFor="let brand of brands">
                              <td style="padding-left: 10px;"><input type="checkbox"  (change)="brandChange($event,brand.id)" [checked]="getChecked(brand.id)"></td>
                            <td style="padding-left: 10px;">{{brand.name}}</td>
                             
                            </tr>
                           
                          </tbody>
                        </table>
                          </div>
                      <div class="dropdown-divider"></div>
  
                      <button type="button" class="my-button" (click)="getProductBrand()" ngbDropdownItem>Done.</button>
  
                    </div>
                  </div>
              
              </div>



              
                <div class="col-md-2 float-left"  *ngIf="isProduct">
                  <b>Category <span style="color:red">*</span></b>
                  <select class="form-control" (click)="getSubcategory" [formControl]="category" (change)="getSubcategory()" (change)="getProductUsingCategory()">
                    <option *ngFor="let cat of categoryList" value="{{cat.id}}"> {{cat.name}} </option>
  
  
                  </select>
                  <span class="error text-danger"> {{_util.errorMessage(category,FORM_ERROR?.category)}}</span>
  
                </div>
                <div class="col-md-2 float-left"  *ngIf="isProduct">
                  <b>Sub-Category<span style="color:red">*</span></b>
                  <select class="form-control" [formControl]="sub_category" (change)="getChildList()" (change)="getProductUsingCategory()">
                    <option *ngFor="let sab of subCategoryList" value="{{sab.id}}">{{sab.name}}</option>
  
  
                  </select>
                  <span class="error text-danger"> {{_util.errorMessage(sub_category,FORM_ERROR?.sub_category)}}</span>
  
                </div>
  
  
  
                <div class="col-md-2 float-left "  *ngIf="isProduct">
                  <b>Child-Category<span style="color:red">*</span></b>
                  <select class="form-control" [formControl]="child_category" (change)="getProductUsingCategory()">
                    <option  *ngFor="let child of childList" value="{{child.id}}">{{child.name}}</option>
                   
  
                  </select>
                  <span class="error text-danger">{{_util.errorMessage(child_category,FORM_ERROR?.child_category)}}</span>
                </div>

              <!-- <div class="col-sm-2 float-left" *ngIf="id!=null">
                <select class="form-control" [formControl]="status">
                  <option value="">Select Status</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="trashed">Delete</option>
                </select>
                <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
              </div> -->
              <!-- <div class="col-md-4 ">
                <b>Discount Value</b>
                <div class="form-group ">

                  <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="{{discountType}}"
                    [formControl]="discount_value">
                  <span class="error text-danger">
                    {{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
                </div>

              </div> -->

            </div>

           



            <div class="row" *ngIf="isProduct">
             






            </div>

            <div class="row mr-top">
              <!-- <div class="form-group col-md-12">
                <label for="exampleFormControlFile1"><b>Banner Image</b></label>
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">{{choosefile}}</div> 
                    <input type="file" name="chooseFile" id="chooseFile" accept="image/*" (change)="onSelectFile($event)">
                  </div>
                </div>
                <br/>
                <img style="height:100px;width:100px;" [src]="url ? url : 'assets/img/avatars/default.png'" />
              </div> -->
              <div class="col-12">
                <label for="exampleFormControlFile1"><b>Banner Image</b></label>
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">{{choosefile}}</div>
                    <input type="file" style="color:black" name="chooseFile" id="chooseFile" accept="image/*"
                      (change)="onSelectFile($event)">
                  </div>
                </div>
                <br />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- <img style="height:100px;width:100px;" [src]="url ? url : 'assets/img/avatars/default.png'" /> -->
                <img style="height:100px;width:100px;" [src]="url ? url : 'assets/img/avatars/no.png'"  alt="Snow"/>
              </div>
            </div>
            <br>

            <div class="row"  >
              <!-- <div class="col-md-2 float-left">
                <select class="form-control" [formControl]="display_order">
                  <option value="">Select Display Order</option>
                  <option value="50">5</option>
                  <option value="100">10</option>
                </select>
                <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
              </div>
              <div class="col-md-4 float-left ">
                <input type="text" ngxDaterangepickerMd class="form-control" (choosedDate)="choosedDate($event)"
                  [formControl]="date" [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}" placeholder="Select Start and Expiry Date" />
                <span class="error text-danger">{{_util.errorMessage(date,FORM_ERROR?.date)}}</span>
              </div> -->

              <!-- <div class="col-md-2 float-left" *ngIf="id!=null">
                <select class="form-control" [formControl]="status">
                  <option value="">Select Status</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="trashed">Delete</option>
                </select>
                <span class="error text-danger">{{_util.errorMessage(display_order,FORM_ERROR?.display_order)}}</span>
              </div> -->

                
              <div class="col-sm-12 col-lg-12 mr-top" >
                <div class="card text-white ">
                  <div class="card-body pb-0 ">
                    <table class="table table-striped table-response">
                      <thead>
                        <tr >
                          <th scope="col">S.No.</th>
                          <th scope="col">Product ID</th>
                          <th scope="col">Product Name</th>
                        


                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody  *ngIf="productList.length>0">
                        <tr *ngFor="let product of   productList|paginate: { id: 'listing_pagination',
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: totalRec }; let ie = index">
                        <td>  {{ ((limit * (page - 1)) + ie+1) }}</td>
                        <td>{{product.id}}</td>
                        <td>{{product.product_name_en}}</td>
                        <!-- <td>{{product.brand_name_en}}</td> -->
                        <td>
                          
                        <input type="checkbox" id="{{product.id}}" 
                        (change)="onFilterChange($event,product.id)"  [checked]="getProductChecked(product.id)">
                        <!-- <a href="#" title="Discount can not be applied as there is already exiting offer on it:i"></a>
                          </td> -->
                         <!-- <span title="Discount can not be applied as there is already exiting offer on it">i</span> -->
                        </tr>
                      </tbody>

                      <tbody *ngIf="productList.length==0">
                        <tr class="text-center">
                          <td colspan="6">No records found</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <pagination-controls *ngIf="productList.length>0" id="listing_pagination" maxSize="5" directionLinks="true" (click)="onScroll()"
                      (pageChange)="page = $event"></pagination-controls>
     -->

                  </div>
                </div>


              </div>

            </div>

            <button *ngIf="this.id==null" type="submit" class="btn btn-success mr-top">Save</button>
            <button type="button" (click)="update()" *ngIf="this.id!=null" class="btn btn-success mr-top">Save</button>


          </form>


        </div>
      </div>

    </div>
  </div>


</div>