<div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
              <!-- <div  class="breadc"><a class="active" [routerLink]="['/theme/products']"> Products</a> / <a class="breada">Detail Product</a></div>  -->
              <div  class="breadc"><a class="active" [routerLink]="['/theme/users']"> Users</a> / <a [routerLink]="['/theme/users/view',{id:user_id}]"   class="breada">View User</a> / <a class="breada">View Order</a></div> 

          </div>
          <div class="card-body">
              <div class="row">
                  
                <div class="card new-card">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Product Detail(English)</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                           <label class="float-left"> <b > Product Name : </b></label>
                            <p>{{data.product_name_en}}</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Product Description : </b></label>
                              <p>{{data.product_description_en}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card new-card">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Product Detail(Arabic)</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="float-left"> <b > Product Name : </b></label>
                                 <p>{{data.product_name_ar}}</p>
                               </div>
                               <div class="col-md-6">
                                  <label class="float-left"> <b >Product Description : </b></label>
                                   <p>{{data.product_description_ar}}</p>
                                 </div>
                        </div>
                    </div></div>
                    <div class="card new-carder">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Other Details</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                           <label class="float-left"> <b >Brand Name : </b></label>
                            <p>{{data.brand_name}}</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Category Name : </b></label>
                              <p>{{data.category_name}}</p>
                            </div>
                            <div class="col-md-6">
                               <label class="float-left"> <b >Sub-Category Name : </b></label>
                                <p>{{data.sub_category_name}}</p>
                              </div>
                              <div class="col-md-6">
                                 <label class="float-left"> <b >Child-Category Name : </b></label>
                                  <p>{{data.child_category_name}}</p>
                                </div>
                               
                                         <div class="col-md-6">
                                            <label class="float-left"> <b >Discount Start Date : </b></label>
                                             <p>{{data.discount_start_date}}</p>
                                           </div>
                                           <div class="col-md-6">
                                              <label class="float-left"> <b >Discount End Date : </b></label>
                                               <p>{{data.discount_end_date}}</p>
                                             </div>
                                             <div class="col-md-6">
                                                <label class="float-left"> <b >Discount type : </b></label>
                                                 <p *ngIf="data.discount_type==1">Percentage</p>
                                                 <p *ngIf="data.discount_type==2">Fixed</p>
                                               </div>
                                               <div class="col-md-6">
                                                  <label class="float-left"> <b >Discount Value : </b></label>
                                                   <p>{{data.discount_value}}</p>
                                                 </div>
                              </div>
                            </div></div>
  
                            <div class="card new-card" *ngFor="let i of data.product_attributes; let ie = index"  >
                              <div class="card-header">
                                  <div  class="breadc"><a class="breada"> Attribute {{ie+1}}</a></div>                      
                              </div>
                              <div class="card-body">
                                  <div class="row" >
                                      <aside class="col-sm-12 border-right">
   <article class="gallery-wrap"> 
             
            <div class="img-small-wrap">
              <div class="item-gallery" *ngFor="let product_image of i.product_media;"> <img [src]="product_image.media_url"> </div>
              
            </div> 
            </article> 
                </aside> 
  
                             
                                   <div class="col-md-6">
                                      <label class="float-left"> <b >Attribute Description(English) : </b></label>
                                       <p>{{i.attribute_description_en}}</p>
                                     </div>
                                     <div class="col-md-6">
                                        <label class="float-left"> <b >Attribute Description(Arabic) : </b></label>
                                         <p>{{i.attribute_description_ar}}</p>
                                       
                                       </div>
  
                           
                                         <div class="col-md-6">
                                            <label class="float-left"> <b >Product Colour : </b></label>
                                             <p>{{i.product_colour}}</p>
                                             <color-compact [color]="i.product_colour" style="cursor: none;"></color-compact>
                                           </div>
                                           <br/>
                                           <br>
                                           <div class="col-lg-12" *ngFor="let meta of i.attribute_meta;" style="margin-top:10px;"> 
                                           <div class="col-md-4 float-left">
                                              <label class="float-left"> <b >Product Quantity : </b></label>
                                               <p>{{meta.quantity}}</p>
                                             </div>
                                             <div class="col-md-4 float-left">
                                                <label class="float-left"> <b >Product Price(QAR) : </b></label>
                                                 <p>{{meta.product_price}}</p>
                                               </div>
                                                     <div class="col-md-4 float-left">
                                                        <label class="float-left"> <b >Product Size : </b></label>
                                                         <p>{{meta.product_size}}</p>
                                                       </div>
                                                       </div>
                                  </div>
                                </div></div>
  
  
                          </div>
                          </div>
                          </div>
                          </div>
              </div> <!-- row.// -->
            </div> <!-- card.// -->
            
       