<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<notifier-container></notifier-container>
<router-outlet></router-outlet>

<!-- <button *ngIf="promptEvent" style="background-color: red" (click)="installPwa()">
    Install
  </button> -->
<button style="display: none;" id="popup" (click)='popup(internetpoup)'></button>
<button style="display: none;" id="popup1" (click)='popup(internetpoup1)'></button>
<button style="display: none;" id="popup2" (click)='popup(internetpoup2)'></button>
<button style="display: none;" id="popup3" (click)='popup(internetpoup3)'></button>
<ng-template #internetpoup let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center text-light">Connection Failure</h5>
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center">No internet connection</p>
        </div>
        <div class="col-md-12">
          <!-- button  -->
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #internetpoup1 let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Account blocked</h5>
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Your account has been blocked </p>
        </div>
        <div class="col-md-12">
          <!-- button  -->
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #internetpoup2 let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Account Deleted</h5>
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Your account deleted by admin </p>
        </div>
        <div class="col-md-12">
          <!-- button  -->
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #internetpoup3 let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <h5 class="p-3 primary-color-bg bg-dark text-center">Unauthorized</h5>
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Unaunthorized access </p>
        </div>
        <div class="col-md-12">
          <!-- button  -->
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </section>
</ng-template>
