<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <b style="margin-left: 14px;font-size:18px;">View Brand</b>
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <b for="inputEmail4">Name(English):</b><br/>
                {{data.name}}
              </div>
              
              <div class="form-group col-md-6">
                <b for="inputPassword4">Description(English):</b><br/>
                {{data.description}}
              </div>
              
              <div class="form-group col-md-6">
                  <b for="inputEmail4">Name(Arabic):</b><br/>
                  {{data.name_ar}}
              </div>
                <div class="form-group col-md-6">
                  <b for="inputPassword4">Description(Arabic):</b><br/>
                  {{data.description_ar}}
            </div>
              <div class="form-group col-md-12">
                <b for="exampleFormControlFile1">Brand Image:</b><br/>
                <img [src]="data.brand_image" />
              </div>
            
                
              <div class="form-group col-md-12" *ngIf="data.status=='Active'" >
                <b for="inputState">Status:</b><br/>
                Unblocked
               
            </div>
            <div class="form-group col-md-12" *ngIf="data.status=='Inactive'" >
                <b for="inputState">Status:</b><br/>
                Blocked
               
            </div>
            </div>
            <button [routerLink]="['/theme/brands']"  type="button" class="btn btn-primary" >Back</button>
           

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>