<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
    
            <div   class="breadc"><a class="active" [routerLink]="['/theme/brands']"> Brands</a> / <a class="breada">View Brand</a></div> 

        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label><b for="inputEmail4">Name(English):</b></label><br/>
                {{data.name}}
              </div>
              
              <div class="form-group col-md-6">
                  <label>  <b for="inputPassword4">Description(English):</b></label><br/>
                {{data.description}}
              </div>
              
              <div class="form-group col-md-6">
                  <label>    <b for="inputEmail4">Name(Arabic):</b></label><br/>
                  {{data.name_ar}}
              </div>
                <div class="form-group col-md-6">
                    <label>    <b for="inputPassword4">Description(Arabic):</b></label><br/>
                  {{data.description_ar}}
            </div>
              <div class="form-group col-md-12">
                  <label> <b for="exampleFormControlFile1">Brand Image:</b></label><br/>
                <img (click)="openVerticallyCentered(poupimage,i)" style="height:200px;width:200px;"  [src]="data.brand_image" />
              </div>
            
                
              <div class="form-group col-md-12" *ngIf="data.status=='Active'" >
                  <label> <b for="inputState">Status:</b></label><br/>
                Active
               
            </div>
            <div class="form-group col-md-12" *ngIf="data.status=='Inactive'" >
                <label>  <b for="inputState">Status:</b></label><br/>
                Inactive
               
            </div>
            </div>
            <br/>
            <button [routerLink]="['/theme/brands']"  type="button" class="btn btn-primary" >Back</button>
           

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<ng-template #poupimage let-modal>
    <!----- Header  ------>
    <section >
    
    
      <img class="modal-content" id="img01" [src]=url  style="width:100%;height:auto">
    </section>
  </ng-template>