<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          
            
            <div class="row ">
            <div class="breadc col-md-6 float-left"> <a class="breada">Orders</a></div>    
            <div class="col-md-6 float-left"> 
        <a (click)="exportDataF()"> <button type="button" style="margin:0px 19px -2px 0px;color:white;" class="ml-3 btn bg-dark  white float-right ml-1" > Export to
            CSV</button></a>
         
              </div>
             </div>
          <hr />
         
          <div class="col-sm-12 col-lg-12" style="margin-left: -17px;">
            <div class="col-md-2 float-left">
              <input type="text" [formControl]="search" class="form-control" id="inputEmail4" placeholder="Search by Order Name">
            </div>
           
            <div class="col-md-2 float-left">               
              <input type="text" ngxDaterangepickerMd  class="form-control" (choosedDate)="choosedDate($event)"   [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
              [formControl]="range"
                placeholder="Filter Date"  />
            </div>
            <div class="col-md-4 float-right" style="margin:0px -14px 10px 0px">
             
              <a> <button type="button" (click)="reset()" class="btn btn-primary float-right ml-1"   style="margin-right: -17px;">Reset</button></a>
              <a> <button type="button" (click)="filter()" class="btn btn-primary float-right ml-1">Filter</button></a>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="col-sm-1 col-lg-1 float-left"> 
                <select class="form-control" (change)="filterSelected($event.target.value)">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>

              <div class="col-md-1 float-left" style="min-width:150px" >
                <select id="inputState" class="form-control" [formControl]="status" (change)="changeStatus($event.target.value)">
              
                  <option value="pending">Pending</option> 
                    <option value="accepted">Accepted</option>
                    <option value="delivered">Delivered</option>
                    <option value="rejected">Rejected</option>
                    <option value="cancelled">Cancelled</option>
                </select>
              </div>
            
        </div>
        <div class="card-body">
          <div class="col-sm-12 col-lg-12">
             
            <div class="card text-white ">
              <div class="pb-0"> 
                <table class="table table-striped"  >
                  <thead>
                    <tr >
                        <th scope="col">S.No.</th>
                        <th scope="col">Order Id</th>
                      <th scope="col">User Details</th>
                      <th scope="col">Order Date</th>
                     
                     
                      <th *ngIf="loginForm.value.status=='accepted'" scope="col">Driver's Name</th>
                      <th scope="col">Status</th>
                     
                      <th  scope="col">Actions</th>
                      <th *ngIf="loginForm.value.status=='accepted'" scope="col">Mark Delivered</th>
                    </tr>

                  </thead >
                  <tbody *ngIf="loginForm.value.status=='pending'" >
                    <tr   *ngFor="let i of collection  | paginate: { id: 'listing_pagination',
                      itemsPerPage: limit,
                    currentPage: page,
                    totalItems: totalRec }; let ie = index">
                    <td>
                        {{ ((limit * (page - 1)) + ie+1) }}

                    </td>
                    <td scope="row" style=" text-transform: capitalize;">ORD{{i.id}}</td>
                    <td style=" text-transform: capitalize;">{{i.first_name}}&nbsp;{{i.last_name}}
                    </td>
                    <td> {{this.transform(i.created_at)}}
                    </td>
                     
                       
                     
                     
                  <td style=" text-transform: capitalize;">{{i.status}}
                  </td>
               
                   
                     
                      <td style="max-width:150px;">
                          <a [routerLink]="['/theme/orders/view',{id :i?.id}]" title="View Order" ><button type="button" class="btn btn-primary">View</button></a>&nbsp;&nbsp;    
                        <a  title="Accept Order" (click)="openVerticallyCentered(accept,i,'accepted')" ><button type="button" class="btn btn-primary">Accept</button></a>&nbsp;                      
                        <a (click)="openVerticallyCentered(poup2,i,'rejected')" title="Reject Order"><button type="button" class="btn btn-dark">Reject</button></a> 
                   
                      </td>
                    </tr>
                  </tbody>



                  <tbody  *ngIf="loginForm.value.status=='accepted'">
                    <tr  *ngFor="let i of collection  | paginate: { id: 'listing_pagination',
                    itemsPerPage: limit,
                    currentPage: page,
                    totalItems: totalRec }; let ie = index">
                    <td>
                        {{ ((limit * (page - 1)) + ie+1) }}

                    </td>
                    <td scope="row" style=" text-transform: capitalize;">ORD{{i.id}}</td>
                    <td style=" text-transform: capitalize;">{{i.first_name}}&nbsp;{{i.last_name}}
                    </td>
                    <td> {{this.transform(i.created_at)}}
                    </td>
                     
                     
                       
                    <td style=" text-transform: capitalize;">{{i?.driver_name}}</td>
                    <td style=" text-transform: capitalize;">{{i.status}}
                    </td>
                   
                     
                      <td style="max-width:120px;">
                          <a [routerLink]="['/theme/orders/view',{id :i?.id}]" title="View Order"> <button type="button" class="btn btn-primary">View</button></a>&nbsp;&nbsp;    
                         <a (click)="openVerticallyCenteredDriver(poup3,i)" title="Assign Driver" ><button type="button" class="btn btn-dark">Assign Driver</button></a> 
                  
                      </td>
                      <td (click)="markDelivered(i?.id,'delivered')"><input class="checkBox" type="checkbox"  title="Mark Delivered"></td>
                    </tr>
                  </tbody>



                 
                  <tbody  *ngIf="loginForm.value.status=='cancelled' || loginForm.value.status=='rejected' ||  loginForm.value.status=='delivered'" >
                    <tr *ngFor="let i of collection  | paginate: { id: 'listing_pagination',
                    itemsPerPage: limit,
                    currentPage: page,
                    totalItems: totalRec }; let ie = index">
                    <td>
                        {{ ((limit * (page - 1)) + ie+1) }}

                    </td>
                    <td scope="row" style=" text-transform: capitalize;">ORD{{i.id}}</td>
                    <td  style=" text-transform: capitalize;">{{i.first_name}}&nbsp;{{i.last_name}}
                    </td>
                    <td> {{this.transform(i.created_at)}}
                    </td>
                     
                     
                      <td style=" text-transform: capitalize;">{{i.status}}
                      </td>
                     
                      <td>
                        <a [routerLink]="['/theme/orders/view',{id :i?.id}]" title="View Order"> <button type="button" class="btn btn-primary">View</button></a>&nbsp;&nbsp;    
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="collection.length==0">
                    <tr class="text-center" >
                      <td colspan="6" *ngIf="loginForm.value.status=='cancelled' || loginForm.value.status=='rejected' ||  loginForm.value.status=='delivered'">No records found</td>
                      <td colspan="8" *ngIf="loginForm.value.status=='accepted'">No records found</td>
                      <td colspan="7" *ngIf="loginForm.value.status=='pending'">No records found</td>
                    </tr>
                  </tbody>
                </table>



             








                <pagination-controls *ngIf="collection.length>0" id="listing_pagination" maxSize="5" directionLinks="true" (click)="onScroll()"
                  (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #poupimage let-modal>
  <!----- Header  ------>
  <section >
  
  
    <img class="modal-content" id="img01" [src]=url  style="width:100%;height:auto">
  </section>
</ng-template>
<ng-template #poup let-modal>
  <!----- Header  ------>
  <section id="modal-header"> 
    <h5 class="p-3 primary-color-bg bg-dark text-center">Delete Order</h5>
    <div class="">
      <div class="row pt-4">
        <div class="col-md-12 frgtpass-head">
          <p class="text-center"> Are you sure you want to delete this  Order ? </p>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class=" frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="ml-3 ml-3 btn bg-dark  white white" (click)="modal.close('Close click')">No</button>
          <button type="button" class="ml-3 ml-3 btn bg-dark  white white" (click)="yes()">Yes</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>

  <ng-template #poup2 let-modal>
      <!----- Header  ------>
      <section id="modal-header">
        <h5 class="p-3 primary-color-bg bg-dark text-center">Reject Order</h5>
        <div class="">
          <div class="row pt-4">
            <div class="col-md-5 frgtpass-head f">
              <p class="text-center">Select a reason to reject : </p>
              </div>
              <div class="col-md-4 float-left" style='margin-bottom: 50px;' >
              <select class="form-control" [formControl]="reason">
                
                <option value="">Please Select</option>
                <option  *ngFor="let reason of reasons" [value]="reason.reason">{{reason.reason}}</option>
              </select>
             
              <span class="error text-danger">{{_util.errorMessage(reason,FORM_ERROR?.reason)}}</span>
            
            </div>  
          
          </div>
        </div>
      </section>
      <!-------------->
      <section>
        <div class=" frgtpass-btns mb-3">
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="button" class="ml-3 ml-3 btn bg-dark  white white" (click)="modal.close('Close click')">No</button>
              <button type="button" class="ml-3 btn bg-dark white" (click)="yesStatusReject()">Yes</button>
            </div>
          </div>
        </div>
      </section>
    </ng-template>




    <ng-template #poup3 let-modal>
      <!----- Header  ------>
      <section id="modal-header">
        <h5 class="p-3 primary-color-bg bg-dark text-center">Assign Driver <a  (click)="modal.close('Close click')" style="position: absolute;top:5px; right:5px" ><i class="fa fa-times"></i></a></h5>
        
        <div class="">
          <div class="row">
        
            
            <div class="col-md-12 frgtpass-head">
             <div class="col-md-4" style="margin-top: 20px;">
               <input type="text" class="form-control" placeholder="Search by Name"  (input)="searchDriver($event.target.value)" [formControl]="search_string">
             </div>
           
          
              <div class="col-sm-12 col-lg-12" style="margin-top: 30px;">
                 
                <div class="card text-white ">
                  <div class="pb-0"> 
                    <table class="table table-striped"  >
                      <thead>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                      </thead>
                      <tbody  *ngIf="drivers.length>0">
                        <tr *ngFor="let i of drivers; let ie = index">  
                          <td>{{ie+1}}</td>
                          <td [title]='i.name'>{{this.add3Dots(i.name,20)}}</td>
                          <td *ngIf="i.is_available==0">Available</td>
                          <td *ngIf="i.is_available==1">Not Available</td>
                          <td>{{i.created_at|date:'dd-MM-yyyy'}}</td>
                          <td>
                            <a (click)="assignedDriver(i)"><button type="button" class="btn btn-dark">Assign</button></a>
                          </td>
                        </tr>
                      </tbody>
                        <tbody  *ngIf="drivers.length==0">
                            <td colspan="5" style="text-align: center;">
                              No records found
                              </td>
                      </tbody>
                    </table>
                </div>
                </div>
                </div>
              
              
              
            </div>
        
        
          </div>
        </div>
      </section>
      <!-------------->
      <!-- <section>
        <div class=" frgtpass-btns mb-3">
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="button" class="ml-3 ml-3 btn bg-dark  white white" (click)="modal.close('Close click')">No</button>
              <button type="button" class="ml-3 btn bg-dark white" (click)="yesStatus()">Yes</button>
            </div>
          </div>
        </div>
      </section> -->
    </ng-template>




    <ng-template #accept let-modal>
      <!----- Header  ------>
      <section id="modal-header">
        <h5 class="p-3 primary-color-bg bg-dark text-center">Accept Order</h5>
        <div class="">
          <div class="row pt-4">
            <div class="col-md-12 frgtpass-head">
              <p class="text-center"> Are you sure you want to accept this order?</p>
             
            
              
            </div>
          </div>
        </div>
      </section>
      <!-------------->
      <section>
        <div class=" frgtpass-btns mb-3">
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="button" class="ml-3 ml-3 btn bg-dark  white white" (click)="modal.close('Close click')">No</button>
              <button type="button" class="ml-3 btn bg-dark white" (click)="yesStatusAccept()">Yes</button>
            </div>
          </div>
        </div>
      </section>
    </ng-template>