
<app-header
  [navbarBrandRouterLink]="['/theme/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/avatars/logo.jpg', width: 89, height: 50, alt: 'ChicBee'}"
  [navbarBrandMinimized]="{src: 'assets/img/avatars/logo.jpg', width: 30, height: 30, alt: 'ChicBee'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
>

  <ul class="nav navbar-nav ml-auto">
<li>
    <div class="dropdown" style="float:right;">
     
            <img [src]="url?url:'assets/img/avatars/avtar.svg'" class="img-avatar" style="height: 42px;margin-right: 30px;" alt=""/>
            
        
        <div class="dropdown-content pull-right dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/theme/settings']"><i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item"[routerLink]="['/theme/settings/change-password']"><i class="fa fa-wrench"></i> Change Password</a>
            <div class="divider"></div>
            <a class="dropdown-item" (click)="openVerticallyCentered(deletepoup)"><i class="fa fa-lock"></i> Logout</a>
        </div>
      </div>
    </li>
    
    </ul>  

</app-header>

<div class="app-body" style="min-height:800px;">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
 
  <main class="main">
   <cui-breadcrumb>      
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">         
        </div>
      </li>
    </cui-breadcrumb>
   
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <div class="list-group list-group-accent">
          <a class="dropdown-item" [routerLink]="['/theme/settings']"><i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item"[rpull-rightouterLink]="['/theme/settings/change-password']"><i class="fa fa-wrench"></i> Change Password</a>
            <div class="divider"></div>
            <a class="dropdown-item" (click)="openVerticallyCentered(deletepoup)"><i class="fa fa-lock"></i> Logout</a>
          </div>
          
       
      </tab>
    
    </tabset>
  </app-aside> -->
</div> 
<app-footer>
  <span><a href="/"></a> &copy; 2020 appventurez.</span>
  <span class="ml-auto">Powered by <a href="/">Appventurez</a></span>
</app-footer>
<ng-template #deletepoup let-modal>
    <!----- Header  ------>
    <section id="modal-header">
      <h5 class="p-3 primary-color-bg bg-dark text-center">Logout Confirmation</h5>
      <div class="">
        <div class="row pt-4">
          <div class="col-md-12 frgtpass-head">
            <p class="text-center"> Are you sure you want to logout ? </p>
          </div>
        </div>
      </div>
    </section>
    <!-------------->
    <section>
      <div class=" frgtpass-btns mb-3">
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <button type="button" class="ml-3 btn bg-dark white" (click)="modal.close('Close click')">Cancel</button>
            <button type="button" class="ml-3 btn bg-dark white" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
