<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ChicBee Forgot</title>
</head>

<body>
  <br> <br><br>
  <div id="logreg-forms">
    <form class="form-signin">
        <img src="assets/img/avatars/logo.jpg"  alt="Logo"    style="height: 100px;margin-left: 110px;">
        <br>
      
      <br>
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Forgot Password</h1>
      <br>
      <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf="successMessage" role="alert">{{successMessage}}</div>
      <br>
      <div class="form-group col-lg-12">
          <label for="usr">Email address:</label>
      <input type="email" [formControl]="email" id="inputEmail" (keyup.enter)="submit()" [maxlength]="CONFIG?.EMAIL_LENGTH"  class="form-control" placeholder="Enter your email here"
        required="" autofocus="" autocomplete="new-password">
      <span class="error text-danger">{{_util.errorMessage(email,FORM_ERROR?.email)}}</span>
    
      <br>
      
      <br>
      <app-loader-button class="btn-block" [loader]="loader" title="Submit" (click)="submit()">
      </app-loader-button>
    </div>
      <a [routerLink]="['/login']" id="forgot_pswd">Back to login</a>
      <hr>
      <!-- <p>Don't have an account!</p>  -->
    </form>


    <br>

  </div>

</body>

</html>