<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div  class="breadc"><a class="active" [routerLink]="['/theme/products']"> Products</a> / <a class="breada">Similar Product</a></div> 
           
        </div>
        <div class="card-body">


          <div class="row ">
            <form [formGroup]="loginForm">
                <div class="row ">
                   
              <div class="form-group col-md-6">
                <label for="inputEmail4">Product Name(En) <span style="color:red">*</span></label>
                <input type="text" [formControl]="product_name_en" class="form-control" id="inputEmail4" placeholder="Product Name">

            
                <span class="error text-danger">{{_util.errorMessage(product_name_en,FORM_ERROR?.product_name_en)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4">Product Description(En)</label>
                <textarea type="text" [formControl]="product_description_en" class="form-control" id="inputPassword4"
                  placeholder="Product Description"></textarea>
              
                  <span class="error text-danger">{{_util.errorMessage(product_description_en,FORM_ERROR?.product_description_en)}}</span>
              </div>
              
              <div class="form-group col-md-6">
                  <label for="inputEmail4">Product Name(Ar) <span style="color:red">*</span></label>
                  <input type="text" [formControl]="product_name_ar" class="form-control" id="inputEmail4"  style="direction:RTL;" onkeyup="rtl(this);" placeholder="اسم المنتج">
              
                <span class="error text-danger">{{_util.errorMessage(product_name_ar,FORM_ERROR?.product_name_ar)}}</span>
              </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Product Description(Ar)</label>
                  <textarea type="text" [formControl]="product_description_ar" class="form-control"   style="direction:RTL;" onkeyup="rtl(this);" id="inputPassword4"
                    placeholder="وصف المنتج"></textarea>
                 
              <span class="error text-danger">{{_util.errorMessage(product_description_ar,FORM_ERROR?.product_description_ar)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Brand <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="brand_id" class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
               
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(brand_id,FORM_ERROR?.brand_id)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="category_id" (change)='onOptionsSelectedSub($event)' class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(category_id,FORM_ERROR?.category_id)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Sub-Category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="subCategory" (change)='onOptionsSelectedChild($event)' class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of subcategories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(subCategory,FORM_ERROR?.subCategory)}}</span>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Child-Category <span style="color:red">*</span></label>
                <select id="inputState" [formControl]="childCategory"   class="form-control">
                  <option value="">Please Select</option>
                  <option  *ngFor="let category of childcategories" [value]="category.id">{{category.name}}</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(childCategory,FORM_ERROR?.childCategory)}}</span>
            </div>
            <!-- <div class="form-group col-md-3">
                <label for="inputState">Product Status</label>
                <select id="inputState" [formControl]="status" class="form-control">
                  <option value="">Please Select</option>
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
            
              <span class="error text-danger">{{_util.errorMessage(status,FORM_ERROR?.status)}}</span>
            </div> -->
      
      
                   <div class="form-group col-md-4">
                      <label for="inputState">Discount Range Date</label>
                  <input type="text" ngxDaterangepickerMd  [formControl]="discount_range" class="form-control" (choosedDate)="choosedDate($event)" [minDate]='mindate' [maxlength]="CONFIG?.DATE_MAX_LENGTH" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                  
                    placeholder="Discount Date Range"  />
                    <span class="error text-danger">{{_util.errorMessage(discount_range,FORM_ERROR?.discount_range)}}</span>
                    </div>
                   <div class="form-group col-md-4">
                        <label for="inputState">Discount Type</label>
                        <select id="inputState" [formControl]="discount_type" class="form-control">
                          <option value="">Please Select</option>
                          <option value="2">Percentage</option>
                          <option value="1">Flat</option>
                          
                        </select>
                    
                      <span class="error text-danger">{{_util.errorMessage(discount_type,FORM_ERROR?.discount_type)}}</span>
                    </div>
                   <div class="form-group col-md-4">
                        <label for="inputEmail4" *ngIf="discountType==1">Discounted Price(QAR)</label>
                        <label for="inputEmail4" *ngIf="discountType==2">Discounted Price(%)</label>
                        <input type="text" [formControl]="discount_value" class="form-control" id="inputEmail4" placeholder="Discount price">
        
                    
                        <span class="error text-danger">{{_util.errorMessage(discount_value,FORM_ERROR?.discount_value)}}</span>
                      </div>
                      
                   
                      <div class="form-group col-md-4">
                        <label for="inputPassword4">Attribute Description(En)</label>
                        <textarea type="text" [formControl]="attribute_description_en" class="form-control"       [maxlength]='CONFIG?.PRODUCT_DESCRIPTION' id="inputPassword4"
                          placeholder="Attribute Description"></textarea>
                      
                          <span class="error text-danger">{{_util.errorMessage(attribute_description_en,FORM_ERROR?.attribute_description_en)}}</span>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4">Attribute Description(Ar)</label>
                        <textarea type="text" [formControl]="attribute_description_ar" class="form-control"        [maxlength]='CONFIG?.PRODUCT_DESCRIPTION' style="direction:RTL;" onkeyup="rtl(this);" id="inputPassword4"
                        placeholder="وصف السمة"></textarea>
                       
                    <span class="error text-danger">{{_util.errorMessage(attribute_description_ar,FORM_ERROR?.attribute_description_ar)}}</span>
                  </div>  <div class="form-group col-md-4">
                      <label for="inputEmail4">Product Color <span style="color:red">*</span></label>
                      <input type="text" [formControl]="product_colour" readonly class="form-control" id="inputEmail4" placeholder="Product color">
                      <span class="error text-danger">{{_util.errorMessage(product_colour,FORM_ERROR?.product_colour)}}</span><br/>
                      <color-compact [color]="state" (onChange)="handleChange($event)"></color-compact><br/>
     <b class="float-right reset-class" (click)="Reset()"><i class="fa fa-refresh" aria-hidden="true"></i></b>  
                             
                    </div>
                    <b class="col-md-12" *ngIf="loginForm.controls.meta_data.controls.length<=10" (click)="addItem()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Variant</b>  
                   
                    <div class="col-md-10" formArrayName="meta_data">
                      <div class="row mt-3"
                         
                          *ngFor="let item of loginForm.controls.meta_data.controls; let i=index"
                          [formGroupName]="i">
                  <div class="form-group col-md-3">
                      <label for="inputEmail4">Product Quantity <span style="color:red">*</span></label>
                      <input type="text" formControlName="quantity" class="form-control"  id="inputEmail4" placeholder="Product quantity"      (keypress)="_util.keyPress($event)"     [maxlength]='CONFIG?.MAX_PRICE'>
                      <span class="error text-danger" *ngIf="errorData==1 && loginForm.controls.meta_data.controls[i].controls.quantity.hasError('required')">
                      Qantity is required</span>
                  
                      <span class="error text-danger" *ngIf="errorData==1 && loginForm.controls.meta_data.controls[i].controls.quantity.hasError('required')==false && loginForm.controls.meta_data.controls[i].controls.quantity.hasError('range')">
                        Quantity range in between 0 to 10000</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Product Size <span style="color:red">*</span></label>
                        <select id="inputState" formControlName="product_size" class="form-control">
                            <option value="">Select size</option>
                        <option  *ngFor="let size of sizes" [value]="size.size">{{size.size}}</option>
                        </select>
                    
                        
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputEmail4">Product Price(QAR) <span style="color:red">*</span></label>
                          <input type="text" formControlName="product_price"  class="form-control"  (keyPress)="maxPrice($event)" id="inputEmail4"  (keypress)="_util.keyPress($event)"      [maxlength]='CONFIG?.MAX_PRICE' placeholder="Product price">
                          <span class="error text-danger" *ngIf="errorData==1 && loginForm.controls.meta_data.controls[i].controls.product_price.hasError('required')">
                            Price is required</span>
                            <!-- <span class="error text-danger" *ngIf="errorData==1 && loginForm.controls.meta_data.controls[i].controls.product_price.hasError('required')==false && loginForm.controls.meta_data.controls[i].controls.quantity.hasError('range')">
                              Price range in between 0 to 10000</span> -->
                            <span class="error text-danger" *ngIf="errorData==1 && loginForm.controls.meta_data.controls[i].controls.product_price.hasError('required')==false && loginForm.controls.meta_data.controls[i].controls.product_price.hasError('range')">
                              Price range in between 0 to 10000</span>
                        
                        </div>
                        <div class="form-group col-md-3">
                        <a (click)="deleteRow(i)"
                        *ngIf="i > 0"><i style="padding-top: 40px;"
                            class="fa fa-trash text-danger"></i></a>
                      </div> 
                      </div>
                      </div>
                      
                  <hr>
                      <div class="form-group col-md-6">
           
                          <label for="exampleFormControlFile1">Upload Video</label>
                          <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Product Video</div>
                                          <div class="file-select-name" id="noFile">{{choosefile}}</div> 
                                          <input type="file" name="chooseFile" id="chooseFile" accept="image/*" (change)="onSelectFile($event)">
                                        </div>
                                      </div>
                                      <br/>
                                      <img style="height:100px;width:100px;" *ngIf="!url" src="assets/img/avatars/no-video-png-2.png" />
                                      <div class="video" *ngIf="url">
                                          <video controls (click)="toggleVideo()" #videoPlayer style="width:400px;">
                                            <source [src]="url" type="video/mp4" />
                                            Browser not supported
                                          </video>
                                        </div>  </div>
                       
                        <div class="form-group col-md-6">
                          <label for="exampleFormControlFile1">Upload Images <span style="color:red">*</span></label>
                          <div class="file-upload">
                              <div class="file-select">
                                <div class="file-select-button" id="fileName">Product Images</div>
                                <div class="file-select-name" id="noFile">{{choosefileDatas}}</div> 
                                <input type="file" name="chooseFile1" multiple id="chooseFile" accept="image/*" (change)="onSelectFileMultiple($event)">
                              </div>
                            </div>
                            <br/>
                            <div class="col-md-12" *ngIf="urlData.length==0 ">
                              
                            
                           
                              <img  style="height:100px;width:100px;" class="img"  src='assets/img/avatars/no.png' alt="Snow">
                            
                    
                        
                    </div> 
                       <div class="col-md-12" *ngIf="urlData.length>0">
             
                                 <img  style="height:100px;width:100px;margin-right: 5px;float:left" *ngFor="let data of urlData"  class="img"  [src]="data" alt="Snow">
                                
                       
                           
                       </div>
                        </div>

               
            </div>

              <br>
              <button   type="button" class="btn btn-primary" (click)="submit()">Save</button>


            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>