<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            View
            <small>Brand</small>
          </div>
          <div class="card-body">
  
  
            <div class="row ">
              <form>
                  <div class="row ">
                     
                <div class="form-group col-md-6">
                s  <b for="inputEmail4">Banner Title:</b> <br/>
                  ABC
                
                </div>
                <div class="form-group col-md-6" >
                    <b for="inputState">Status:</b><br/>
                    Unblock
                   
                </div>
                
                <div class="form-group col-md-6">
                  <b for="inputPassword4"> From Date:</b><br/>
                12/223/2020
                 </div>
                
                <div class="form-group col-md-6">
                    <b for="inputEmail4">Expiry Date:</b><br/>
                    12/12/2020
                    
                </div>


                <div class="form-group col-md-6">
                  <b for="inputEmail4">Minimum Value:</b> <br/>
                  ABC
                
                </div>
                <div class="form-group col-md-6" >
                    <b for="inputState">Discount Type</b><br/>
                    Flat
                   
                </div>
                
                <div class="form-group col-md-6">
                  <b for="inputPassword4"> Discount Value:</b><br/>
                125
                 </div>
                
                <div class="form-group col-md-6">
                    <b for="inputEmail4">Available On:</b><br/>
                    Product
                    
                </div>
                  
               
              

              <div class="form-group col-md-12">
                <b for="exampleFormControlFile1">Banner Image:</b><br/>
                
                
              </div>
              <div class="col-12">
                <img style="height:100px;width:100px;" [src]="'assets/img/avatars/default.png'" />
              </div>
              </div>
              
              <button [routerLink]="['/theme/banners']"  style="margin-top: 20px;" type="button" class="btn btn-success" >Back</button>
             
  
              </form>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>