<div class="animated fadeIn" style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div class="row ">
                <div class="breadc col-md-6 float-left"> <a class="active" [routerLink]="['/theme/cms']"> CMS</a> / <a class="breada">{{title}}</a></div>    
                <div class="col-md-6 float-left"> 
                   
                  </div>
                 </div>
          <hr>
        </div>
        <div class="card-body">


          <div class="row ">
            <form>
                <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
                <div class="row ">
                   
              <div class="form-group col-md-12">
                <label for="inputEmail4">Title</label>
                <input type="text" [formControl]="name" class="form-control" id="inputEmail4" placeholder="Name" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.NAME_LENGTH_TITLE">
                <span class="error text-danger">{{_util.errorMessage(name,FORM_ERROR?.name)}}</span>
              </div>
          
              <div class="form-group col-md-12">
                <label for="inputPassword4">Description</label>
                <!-- <textarea type="text" [formControl]="descriptions" class="form-control" id="inputPassword4"
                  placeholder="Description"></textarea> -->
                  <ejs-richtexteditor [formControl]="descriptions" [minlength]="CONFIG?.NAME_MINLENGTH" [maxlength]="CONFIG?.DESCRIPTION_LENGTH_CMS"></ejs-richtexteditor>
                  <span class="error text-danger">{{_util.errorMessage(descriptions,FORM_ERROR?.descriptions)}}</span>
                </div>
            
              <!-- <div class="form-group col-md-12">
                <label for="exampleFormControlFile1">Cms Image</label>
                <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Choose File</div>
                                          <div class="file-select-name" id="noFile">{{choosefile}}</div> 
                                          <input type="file" name="chooseFile" id="chooseFile" accept="image/*" (change)="onSelectFile($event)">
                                        </div>
                                      </div>
              </div> -->
              <!-- <img style="height:100px;width:100px;" class="img-circle"[src]="url ? url : 'assets/img/avatars/default.png'" /> -->
            
              <div class="form-group col-md-2">
                <label for="inputState">Status</label>
                <select id="inputState" [formControl]="statusKey" class="form-control">
                  <option value="">Please Select</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
                <span class="error text-danger">{{_util.errorMessage(statusKey,FORM_ERROR?.statusKey)}}</span>
              </div>

            </div>

              <br>
              <button type="button" class="btn btn-primary" (click)="update()">Save</button>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>