













  
  <ng-template #poupimage let-modal>
    <!----- Header  ------>
    <section >
    
    
      <img class="modal-content" id="img01" [src]=url  style="width:100%;height:auto">
    </section>
  </ng-template>








  <div class="animated fadeIn" style="margin-top:30px;">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
              <div  class="breadc"><a class="active" [routerLink]="['/theme/drivers']"> Drivers</a> / <a class="breada">Detail Driver</a></div> 
             
          </div>
          <div class="card-body">
              <div class="row">
                
                <div class="card new-card" >
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Basic Information</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                           <label class="float-left"> <b > Driver Name: </b></label>
                            <p>{{data.name}}</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Contact Number: </b></label>
                              <p>{{data.contact_number}}</p>
                            </div>

                            <div class="col-md-6">
                              <label class="float-left"> <b >Email : </b></label>
                               <p>{{data.email}}</p>
                             </div>



                             <div class="col-md-6">
                              <label class="float-left"> <b >License Number: </b></label>
                               <p>{{data.license_number}}</p>
                             </div>


                             <div class="col-md-6">
                              <label class="float-left"> <b >Address: </b></label>
                               <p>{{data.address}}</p>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card new-card">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Banner Detail(Arabic)</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="float-left"> <b > Banner Name : </b></label>
                                 <p>{{data.Banner_name_ar}}</p>
                               </div>
                               <div class="col-md-6">
                                  <label class="float-left"> <b >Banner Description : </b></label>
                                   <p>{{data.Banner_description_ar}}</p>
                                 </div>
                        </div>
                    </div></div> -->
                    <div class="card " style="width:100%;">
                    <div class="card-header">
                        <div  class="breadc"><a class="breada"> Shipping Information</a></div>                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                           <label class="float-left"> <b >Costumer Name : </b></label>
                            <p> qnaanb</p>
                          </div>
                          <div class="col-md-6">
                             <label class="float-left"> <b >Mobile Number: </b></label>
                              <p>90734079882389034</p>
                            </div>
                            <div class="col-md-6">
                               <label class="float-left"> <b >Delivery Adrress: </b></label>
                                <p> noida,india</p>
                              </div>
                            
                                       
                              
                            </div></div>





                            <div class="card new-card">
                              <div class="card-header">
                                  <div  class="breadc"><a class="breada"> Orders  Information</a></div>                      
                              </div>
                              <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12 col-lg-12 mr-top" >
                                      <div class="card text-white ">
                                        <div class="card-body pb-0 " style="width:100">

                                          <table class="table table-striped table-response">
                                            <thead>
                                              <tr >
                                                <th scope="col">S.No.</th>
                                                <th scope="col">Product ID</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Status</th>
                                                
                                              
                      
                      
                          
                                              </tr>
                                            </thead>
                                            <tbody  >
                                              <tr>                                             
                                                 <td>1</td>
                                              <td>12</td>
                                              <td>T-shirt</td>
                                           <td>Active</td>


                                          </table>
                      
                                        </div>
                                        
                                      </div>
                      
                      
                                    </div>
                                    
                                  </div>
                                  <button [routerLink]="['/theme/banners']"  style="margin-top: 20px;" type="button" class="btn btn-primary" >Back</button>
                              </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          
              </div> <!-- row.// -->
              
            </div> <!-- card.// -->
            
       