
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>ChicBee Login</title>
</head>
<body>    
  <br> <br><br>
    <div id="logreg-forms">
        <form class="form-signin">
          <br>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Login</h1>
            <br>
            <input type="email" [formControl]="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="new-password">

            <span class="error text-danger">{{_util.errorMessage(email,FORM_ERROR?.email)}}</span>         
            <br/>
            <br/>
            <input type="password" [formControl]="password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="new-password">
            <span class="error text-danger">{{_util.errorMessage(password,FORM_ERROR?.password)}}</span>
            <br>   <br/>
           <app-loader-button class="btn-block" [loader]="loader" title="Login" (click)="submit()">
              </app-loader-button>
            <a [routerLink] = "['/forgot']" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            </form>

       
            <br>
            
    </div>
 
</body>
</html>